---
layout: default
---

{% assign events = "" | split: "," %}
{% assign years = "" | split: "," %}

{% for item in site.data.events %}
    {% assign events = events | push: item[1] %}
    {% if item[1].date %}
        {% assign year = item[1].date | date: "%Y" %}
        {% assign years = years | push: year %}
    {% endif %}
{% endfor %}

{% assign years = (years | uniq | sort | reverse) %}
{% assign events = events | where_exp: "item", 'item.date != nil' | sort: 'date' | reverse  %}

{% for year in years %}
    {% include components/calendarHeader.html year=year %}
    {% for event in events"%}
        {% capture year_of_event %}{{ event.date | date: "%Y" }}{% endcapture %}
        {% if year_of_event == year %}    
        {% include components/event.html event=event %}
        {% endif %}
    {% endfor %}
{% endfor %}


{% comment %}Legacy events starts here. no need to migrate these for now, unless someone's up for a challenge{% endcomment %}

{% include components/calendarHeader.html year="2022" %}
{% include legacy/meetups/meetup2022058.html %}
{% include legacy/meetups/meetup2022057.html %}
{% include legacy/meetups/meetup2022056.html %}
{% include legacy/meetups/meetup2022055.html %}
{% include legacy/meetups/meetup2022054.html %}
{% include legacy/meetups/meetup2022053.html %}
{% include legacy/meetups/meetup2022052.html %}
{% include legacy/meetups/meetup2022051.html %}
{% include legacy/meetups/meetup2022050.html %}
{% include legacy/meetups/meetup2022049.html %}
{% include legacy/meetups/meetup2022048.html %}

{% include components/calendarHeader.html year="2021" %}

{% include legacy/meetups/meetup2021047.html %}
{% include legacy/meetups/meetup2021046.html %}
{% include legacy/meetups/meetup2021045.html %}
{% include legacy/meetups/meetup2021044.html %}
{% include legacy/meetups/meetup2021043.html %}
{% include legacy/meetups/meetup2021042.html %}

{% include components/calendarHeader.html year="2020" %}

{% include legacy/meetups/meetup2020038.html %}
{% include legacy/meetups/meetup2020037.html %}
{% include legacy/meetups/meetup2020036.html %}
{% include legacy/meetups/meetup2020035.html %}

{% include components/calendarHeader.html year="2019" %}

{% include legacy/meetups/meetup2019034.html %}
{% include legacy/meetups/meetup2019033.html %}
{% include legacy/meetups/meetup2019032.html %}
{% include legacy/meetups/meetup2019031.html %}
{% include legacy/meetups/meetup2019030.html %}
{% include legacy/meetups/meetup2019029.html %}
{% include legacy/meetups/meetup2019028.html %}
{% include event2019-devopsbootcamp.html %}
{% include legacy/meetups/meetup2019027.html %}
{% include legacy/meetups/meetup2019026.html %}
{% include legacy/meetups/meetup2019025.html %}
{% include legacy/meetups/meetup2019024.html %}

{% include components/calendarHeader.html year="2018" %}

{% include legacy/meetups/meetup2018023.html %}
{% include legacy/meetups/meetup2018022.html %}
{% include legacy/meetups/meetup2018021.html %}
{% include legacy/meetups/meetup2018020.html %}
{% include legacy/meetups/meetup2018019.html %}
{% include legacy/meetups/meetup2018018.html %}
{% include legacy/meetups/meetup2018017.html %}
{% include event2018-devopsbootcamp.html %}
{% include legacy/meetups/meetup2018016.html %}
{% include legacy/meetups/meetup2018015.html %}
{% include legacy/meetups/meetup2018014.html %}
{% include legacy/meetups/meetup2018013.html %}
{% include legacy/meetups/meetup2018012.html %}

{% include components/calendarHeader.html year="2017" %}

{% include legacy/meetups/meetup2017011.html %}
{% include legacy/meetups/meetup2017010.html %}
{% include legacy/meetups/meetup2017009.html %}
{% include legacy/meetups/meetup2017008.html %}
{% include legacy/meetups/meetup2017007.html %}
{% include legacy/meetups/meetup2017006.html %}
{% include legacy/meetups/meetup2017005.html %}
{% include legacy/meetups/meetup2017004.html %}
{% include legacy/meetups/meetup2017003.html %}
{% include legacy/meetups/meetup2017002.html %}

<hr />

{% include components/calendarHeader.html year="2016" %}
{% include legacy/meetups/meetup2017001.html %}
