---
layout: default
---
{% include components/calendarHeader.html year="2019" %}

{% include meetup2019031.html %}
{% include meetup2019030.html %}
{% include meetup2019029.html %}
{% include meetup2019028.html %}
{% include event2019-devopsbootcamp.html %}
{% include meetup2019027.html %}
{% include meetup2019026.html %}
{% include meetup2019025.html %}
{% include meetup2019024.html %}

{% include components/calendarHeader.html year="2018" %}

{% include meetup2018023.html %}
{% include meetup2018022.html %}
{% include meetup2018021.html %}
{% include meetup2018020.html %}
{% include meetup2018019.html %}
{% include meetup2018018.html %}
{% include meetup2018017.html %}
{% include event2018-devopsbootcamp.html %}
{% include meetup2018016.html %}
{% include meetup2018015.html %}
{% include meetup2018014.html %}
{% include meetup2018013.html %}
{% include meetup2018012.html %}

{% include components/calendarHeader.html year="2017" %}

{% include meetup2017011.html %}
{% include meetup2017010.html %}
{% include meetup2017009.html %}
{% include meetup2017008.html %}
{% include meetup2017007.html %}
{% include meetup2017006.html %}
{% include meetup2017005.html %}
{% include meetup2017004.html %}
{% include meetup2017003.html %}
{% include meetup2017002.html %}

<hr />

{% include components/calendarHeader.html year="2016" %}
{% include meetup2017001.html %}
