---
layout: default
---
<div class="hero">
  <div class="hero-body">
    <h1 class="title">
        Sponsors
    </h1>
  </div>
</div>

<div class="content">
    <p>
        A special "thank you" to our sponsors and partners that help us making DevOps Porto a reality:
    </p>

    <table>
        <tr>
            <td colspan="5">
            </td>
        </tr>

        <!-- Redgate-->
        <tr>
            <td>{% include components/sponsorimage.html imagename="redgate.png" %}</td>
            <td>Redgate</td>
            <td>
                <a href="https://www.red-gate.com/">https://www.red-gate.com/</a>
            </td>
            <td>
                <p>
                    <i>Redgate is with us since the begining providing financial support, swag and great prizes!</i>
                </p>    
            </td>
        </tr>

        <!-- Bitmaker-->
        <tr>
            <td>{% include components/sponsorimage.html imagename="bitmaker.png" %}</td>
            <td>Bitmaker</td>
            <td>
                <a href="https://www.wearebitmaker.com/">https://www.wearebitmaker.com/</a>
            </td>
            <td>
                <p>
                    <i>Our Bitmaker friends where the DevOps Porto logo creators. And it's a great logo!</i>
                </p>
                <p>
                    <i>Design support and community outreach!</i>
                </p>
            </td>
        </tr>

        <!-- Agile Portugal-->
        <tr>
            <td>{% include components/sponsorimage.html imagename="agileportugal.jpg" %}</td>
            <td>Agile Portugal</td>
            <td>
                <a href="https://2018.agilept.org/">https://2018.agilept.org/</a>
            </td>
            <td>
                <p>
                    <i>Agile Portugal it's our community partner and community outreach!</i>
                </p>
            </td>
        </tr>

        <!-- 0xOPOSEC -->
        <tr>
            <td>{% include components/sponsorimage.html imagename="oposec.jpeg" %}</td>
            <td>0xOPOSEC</td>
            <td>
                <a href="https://www.meetup.com/0xOPOSEC/">https://www.meetup.com/0xOPOSEC/</a>
            </td>
            <td>
                <p>
                    <i>0xOPOSEC is a community passioned about security and it's our community partner!</i>
                </p>
            </td>
        </tr>

        <!-- HumanOps -->
        <tr>
            <td>{% include components/sponsorimage.html imagename="humanops.png" %}</td>
            <td>HumanOps</td>
            <td>
                <a href="http://www.humanops.com/">http://www.humanops.com/</a>
            </td>
            <td>
                <p>
                    <i>HumanOps it's a community that focus on the human aspects of running infrastructure.</i>
                </p>
                <p>
                    <i>Community partner and community outreach!</i>
                </p>
            </td>
        </tr>
</table>

<h2 class="title">
    Be a sponsor
</h2>
<p>
    Would you love to support us? Take a look how can you help us - <a href="supportus.html">Support Us</a>
</p>

</div>
