---
layout: default
---
<div class="hero">
  <div class="hero-body">
    <h1 class="title">
        Sponsors
    </h1>
  </div>
</div>

<div class="content">
  <p>A special "thank you" to our sponsors and partners that help us making DevOps Porto a reality: </p>

  <div class="hero">
    <div class="has-text-centered subtitle">
      <h3>
        Gold
      </h3>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered" style="box-shadow: none;">
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered">
        {% include components/sponsorimage.html imagename="bosch.png" alt="Bosch" website="https://www.bosch.pt" %}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered" style="box-shadow: none;">
      </article>
    </div>
  </div>

  <hr>

  <div class="hero">
    <div class="has-text-centered subtitle">
      <h3>
        Community
      </h3>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered" style="box-shadow: none;">
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered">
        {% include components/sponsorimage.html imagename="bitmaker.png" alt="Bitmaker" website="https://www.wearebitmaker.com/" %}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered">
        {% include components/sponsorimage.html imagename="agileportugal.jpg" alt="Agile Portugal" website="https://2018.agilept.org/" %}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered" style="box-shadow: none;">
      </article>
    </div>
  </div>

  <hr>

  <div class="hero">
    <h2 class="title">
        Be a sponsor
    </h2>
    <p>
        Would you love to support us? Take a look how can you help us - <a href="supportus.html">Support Us</a>
    </p>
  </div>

</div>
