--- 
layout: default 
---

<div class="columns content">
  <div class="column is-auto">

    <div class="box">
      
      <!-- Eduardo Piairo -->
      <article class="media">
        {% include components/teamimage.html imagename="eduardopiairo.png" %}
        <div class="media-content">
          <div class="content">
            <h3>Eduardo Piairo</h3>
            {% include components/teamhandle.html twitter="EdPiairo" linkedin="jesuspiairo" %}
            
            <p>
              Deployment pipeline craftsman always ready to learn new ways to implement Source Control, Continuous Integration 
              and Continuous Delivery for databases, applications and infrastructure.
            </p>
            <p>
                Operations engineer @ <a href="https://www.basecone.com/" target="_blank">Basecone</a> , DevOps prosecutor with automation, collaboration and communication as priorities.  
                Also, a database administrator with special interest in database changes and data modeling.
            </p>
            <p> 
                The deployment pipeline it's my favorite technical and cultural tool. 
                My mission is to relieve the delivery pain, while achieving the balance between business and business materialization.
            </p>
          </div>
        </div>
      </article>

      <!-- Miguel Alho -->
      <article class="media">
        {% include components/teamimage.html imagename="miguelalho.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Miguel Alho</h3>
            {% include components/teamhandle.html twitter="MytyMyky" linkedin="miguel-alho-9982331" %}
            <p>
              Full-time, 13-years-in-the-making, software engineer with a DevOps and Craftsmanship mindset. Previously, I worked 
              mainly as a dev freelancer, but also as a consultant, school teacher, media producer and project manager.</p>
            <p>
              I'm a very big fan of TDD as a development practice, very fond of microservices, of automating as much as possible in 
              the dev, build and deploy pipeline, but also in finding ways to augment individual and team learning experiences.
            </p>
          </div>
        </div>
      </article>

      <!-- Filipe Correia -->
      <article class="media">
        {% include components/teamimage.html imagename="filipecorreia.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Filipe Correia</h3>
            {% include components/teamhandle.html twitter="filipecorreia" linkedin="filipecorreia" %}
            
            <p>Filipe is currently a Platform Software Engineer at Uphold and lecturer at FEUP. He holds a PhD in Software Engineering and is a fan of design patterns, software design and architecture. He's also a fan of agile methods and in particular of the (seemingly) long-lost art of Extreme Programming.</p>

            <p>In his spare time he organizes the Agile Portugal conference and the DevOps Porto meetups.</p>
          </div>
        </div>
      </article>

      <!-- Miguel David -->
      <article class="media">
        {% include components/teamimage.html imagename="migueldavid.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Miguel David</h3>
            {% include components/teamhandle.html twitter="desfocado" linkedin="migueldavid" %}
            
            <p>
              IT Engineer with 15 years of experience doing Cloud Infrastructure, Linux Systems Administration and Application Support, 
              Equipment Integration and Data Management.
            </p>
            <p>
              Experience in providing international operational support (1st through 3rd line) and acting as the interface between clients and 
              developers in continuous and critical production systems. 
            </p>
            <p> 
              I thrive on multicultural environments with good teamwork and learning opportunities.
            </p>
          </div>
        </div>
      </article>


      <!-- Elisete Cruz -->
      <article class="media">
        {% include components/teamimage.html imagename="elisetecruz.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Elisete Cruz</h3>
            {% include components/teamhandle.html twitter="elisetedcruz" linkedin="elisetecruz" %}
            
            <p>Software Configuration and Release Engineer at <a href="https://www.faro.com/" target="_blank">FARO</a> . She started her career in the IT world 6 years ago. Her journey has been mainly in the Release Management role, but she had an adventure in development during 1 year.
            </p>
            <p>She is a fan of the DevOps culture and is taking her first steps in this wide world!
              </p>
          </div>
        </div>
      </article>

      <!-- Cesar Rodrigues -->
      <article class="media">
        {% include components/teamimage.html imagename="pontoporponto.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Cesar Rodrigues</h3>
            {% include components/teamhandle.html twitter="pontoporponto" linkedin="pontoporponto" %}
            
            <p>This will be our #1st meetup about DevOps and its culture, practices and techniques, and will be co-organized
              with our partners Agile Connect community (their #7th meetup). Join us in building "bridges" between development
              and operations.
            </p>
            <p>
              For this session we have invited Manuel Pais, who will share with us his insights on what DevOps culture is all about, and
              what you can do to improve collaboration in your team.</p>
            <p> This talk will tell you about all the right practices you need to adopt to become a successful DevOps organization!</p>
            <p>
              DevOps is highly contextual, there is no set of prescribed practices that an organization can pick up and “become DevOps”.
            </p>
            <p>
              So what “can” you do? Attend this talk to find out!
            </p>
          </div>
        </div>
      </article>

      <!-- Marcelo Almeida -->
      <article class="media">
        {% include components/teamimage.html imagename="marceloalmeida.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Marcelo Almeida</h3>
            {% include components/teamhandle.html twitter="malmeida86" linkedin="msalmeida" github="marcelosousaalmeida" %}
            
            <p>
              Currently a DevOps and Site Reliability Engineer at <a href="https://group.jumia.com/" target="_blank">Jumia Group</a>, highly passionate about automation, monitoring and reliability. Always looking forward to build ultra-scalable and highly reliable systems.
            </p>
            <p>
              I consider myself a big fan of open source and DevOps cultures.
            </p>
          </div>
        </div>
      </article>
 
    </div>
  </div>
</div>

