--- 
layout: default 
---

<div class="columns content">
  <div class="column is-auto">

    <div class="box">
      
      <!-- Eduardo Piairo -->
      <article class="media">
        {% include components/teamimage.html imagename="eduardopiairo.png" %}
        <div class="media-content">
          <div class="content">
            <h3>Eduardo Piairo</h3>
            {% include components/teamhandle.html twitter="EdPiairo" linkedin="jesuspiairo" %}
            
            <p>
              Deployment pipeline craftsman always ready to learn new ways to implement Source Control, Continuous Integration 
              and Continuous Delivery for databases, applications and infrastructure.
            </p>
            <p>
                Operations engineer @ <a href="https://www.basecone.com/" target="_blank">Basecone</a> , DevOps prosecutor with automation, collaboration and communication as priorities.  
                Also, a database administrator with special interest in database changes and data modeling.
            </p>
            <p> 
                The deployment pipeline it's my favorite technical and cultural tool. 
                My mission is to relieve the delivery pain, while achieving the balance between business and business materialization.
            </p>
          </div>
        </div>
      </article>

      <!-- Miguel Alho -->
      <article class="media">
        {% include components/teamimage.html imagename="miguelalho.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Miguel Alho</h3>
            {% include components/teamhandle.html twitter="MytyMyky" linkedin="miguel-alho-9982331" %}
            
            <p>This will be our #1st meetup about DevOps and its culture, practices and techniques, and will be co-organized
              with our partners Agile Connect community (their #7th meetup). Join us in building "bridges" between development
              and operations.
            </p>
            <p>
              For this session we have invited Manuel Pais, who will share with us his insights on what DevOps culture is all about, and
              what you can do to improve collaboration in your team.</p>
            <p> This talk will tell you about all the right practices you need to adopt to become a successful DevOps organization!</p>
            <p>
              DevOps is highly contextual, there is no set of prescribed practices that an organization can pick up and “become DevOps”.
            </p>
            <p>
              So what “can” you do? Attend this talk to find out!
            </p>

            <h4>About Miguel:</h4>
            <p>
              <a href="https://es.linkedin.com/in/manuelpais">Manuel Pais</a> is a DevOps advocate with a mixed background
              as developer, build manager and QA lead. Jack of all trades, master of continuous improvement, Manuel enjoys
              helping organizations to adopt test automation, continuous delivery and cloud from both technical and human
              perspectives. He has worked on a range of technologies (Java, .Net, Web, Mobile) and industries (banking, telecommunications,
              defense and aviation).
            </p>

            <h4>Media</h4>
            <p><a href="https://pt.slideshare.net/ManuelPais/the-unsurprising-truth-about-devops-culture" target="_blank">Slide deck @ SlideShare</a></p>
          </div>
        </div>
      </article>
  
   
    </div>
  </div>
</div>

