{% include components/eventTitle.html title="Global DevOps Bootcamp 2018 @ DevOps Porto" date="16/06/2018" host="DevScope"
%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>16/06/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Keynote</li>
        <li>Hands-On Activities</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.devscope.net" target="_blank">
          <img alt="DevScope" class="width-is-128" src="assets/images/hosts/devscope.png" />
        </a>
      </figure>
      <h3>Registration:</h3>
        <a href="https://www.eventbrite.com/e/global-devops-bootcamp-2018-porto-tickets-46221534855?aff=es2" target="_blank" data-proofer-ignore>
          <img alt="Eventbrite event page" class="width-is-128" src="assets/images/icons/eventbrite.png" />
        </a>
      <br/>
      <br/>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
              <img src="assets/images/events/gdbc.png" alt="Event Logo">
          </figure>
        </div>

        <div class="media-content">
          <div class="content">
            <h3>Global DevOps Bootcamp 2018 @ DevOps Porto</h3>
            
            <p>
              Global DevOps Bootcamp is a global event that will be held on Saturday June 16th and is all about DevOps on the Microsoft Stack. Centrally organized by Xpirit and Solidify and offered to you by this local partner. During this 1-day event we will join (Microsoft) DevOps communities all around the world to talk, learn and play with DevOps concepts.
            </p>

            <h4>Goals of the GlobalDevOpsBootcamp:</h4>
            <ul>
              <li>DevOps in general</li>
              <li>Insights into where we are heading when it comes to DevOps and new technologies</li>
              <li>Get people's hands dirty and let them play with all the good Microsoft DevOps stuff</li>
            </ul>
            <p>Get people's hands dirty and let them play with all the good Microsoft DevOps stuff</p>
            <p>
              This year's theme will be 'From one release per month to multiple releases a day'. We will kick off with an introduction of a well-known authority in the DevOps space, followed by a keynote from the local partner about where we are heading with DevOps.
            </p>
            <p>
              This time the event is all about DevOps and improving your release cadence. It will help you understand the latest DevOps trends and insights in modern technologies that enable you to release multiple times per day. It is an amazing combination between getting your hands dirty and sharing experience and knowledge around VSTS, Azure, DevOps with other community members.
            </p>
            <p>
              Of course you won't be on your own. During the day you will be supported and guided by local experts who are active in the Microsoft Community.
            </p>

            <h4>Join Us!</h4>
            <p>
              To participate, please register at the <a href="https://www.eventbrite.com/e/global-devops-bootcamp-2018-porto-tickets-46221534855?aff=es2">Eventbrite ticket page</a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
