{% include components/eventTitle.html title="Global DevOps Bootcamp 2019 @ DevOps Porto" date="15/06/2018" host="DevScope"
%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>15/06/2019</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Keynote</li>
        <li>Hands-On Activities</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.devscope.net" target="_blank">
          <img alt="DevScope" class="width-is-128" src="assets/images/hosts/devscope.png" />
        </a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
              <img src="assets/images/events/gdbc_2019.jpg" alt="Event Logo">
          </figure>
        </div>

        <div class="media-content">
          <div class="content">
            <h3>Global DevOps Bootcamp 2019 @ DevOps Porto</h3>
            
            <p>
              Global DevOps Bootcamp is a global event that will be held on Saturday June 15th and is all about DevOps on the Microsoft Stack. 
              Centrally organized by Xpirit and Solidify and offered to you by DevOps Porto and Devscope. 
              During this 1-day event we will join (Microsoft) DevOps communities all around the world to talk, learn and play with DevOps concepts.
            </p>

            <h4>Goals of the Global DevOps Bootcamp:</h4>
            <ul>
              <li>DevOps in general</li>
              <li>Insights into where we are heading when it comes to DevOps and new technologies</li>
              <li>Get people's hands dirty and let them play with all the good Microsoft DevOps stuff</li>
            </ul>
            
            <p>
              This year's theme will be 'You build it, you run away it!'. We will kick off with an introduction of a well-known authority in the DevOps space, followed by a keynote from the local partner about where we are heading with DevOps.
            </p>
            
            <p>
              This time the event is all about the 'run' part of DevOps. It will help you understand the latest DevOps trends and insights in modern technologies. 
            </p>
            
            <p>
            You will learn about the concept of Detect, Respond, Recover. By means of production like scenarios and disruptions you will learn to overcome several challenges and experience how to not only build a solution but also run it as a true DevOps team would. It is an amazing combination between getting your hands dirty and sharing experience and knowledge around Azure and DevOps practices with other community members.
            </p>
            <p>
              Of course you won't be on your own. During the day you will be supported and guided by local experts who are active in the Microsoft Community.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
