<section>
    <nav class="nav">
        <div class="nav-left">
            <a class="nav-item" href="index.html">
                <img src="assets/images/logos/devopsporto_bridge_name.png" alt="DevOps Porto logo">
            </a>
        </div>
        <div class="nav-center">
            <a class="nav-item" href="https://www.meetup.com/pt-BR/devopsporto" target="_blank" title="Meetup">
                <span class="icon">
                    <i class="fa fa-meetup"></i>
                </span>
            </a>
            <a class="nav-item" href="http://devopsporto.herokuapp.com/" target="_blank" title="Slack">
                <span class="icon">
                    <i class="fa fa-slack"></i>
                </span>
            </a>
            <a class="nav-item" href="https://twitter.com/devopsporto" target="_blank" title="Twitter">
                <span class="icon">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>
            <a class="nav-item" href="https://github.com/DevOpsPorto/" target="_blank" title="GitHub">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
            </a>
            <a class="nav-item" href="https://www.youtube.com/channel/UCpHS0j3aKPBhR_n1e_gYeDQ" target="_blank" title="Youtube">
                <span class="icon">
                    <i class="fa fa-youtube"></i>
                </span>
            </a>
        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span class="nav-toggle">
            <span>
                <a href="meetups.html">Meetups</a>
            </span>
            <span>
                <a href="speakerfollowup.html">Speakers</a>
            </span>
            <span>
                <a href="team.html">Team</a>
            </span>
        </span>

        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "is-active" to display it on mobile -->
        <div class="nav-right nav-menu">
            <a class="nav-item" href="meetups.html">
                Meetups
            </a>
            <!-- <a class="nav-item" href="events.html">
                Events
            </a> -->
            <a class="nav-item" href="speakerfollowup.html">
                Speakers
            </a>
            <a class="nav-item" href="team.html">
                Team
            </a>
        </div>
    </nav>
</section>
