<h1 class="title">Meetup #5 - Security / Culture</h1>
<h2 class="subtitle">Hosted by Euronext</h2>

<div class="columns">
  <div class="column is-one-third">
    <div class="box">
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk #1: <strong>Security in the wildby (Renato Rodrigues)</strong></li>
        <li>Networking break</li>
        <li>Talk#2: <strong>Culture: a gentle introduction. (Nuno Rafael Gomes)</strong></li>
      </ul>
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      <p>Our next meetup will be on July 11th 2017 at EuroNext, and in collaboration with the <a href="">0xOPOSEC Community</a> Register
        <a href="https://www.meetup.com/pt-BR/devopsporto/?chapter_ajekylnalytics_code=UA-74349831-2">at the DevOpsPorto meetup site</a>
        to participate.</p>
    </div>
  </div>
</div>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Renato Rodriques</strong> <small>@johnsmith</small>
        </p>
        <p>
          With 0xOPOSEC (@oposec) community as partner, we are happy and grateful for having Renato Rodrigues (@simps0n) as invited
          speaker. For Renato and for a modern software house, security is a top priority. It is a fast-paced working environment
          focused on continuous delivery and integration. Keeping up is an endless and demanding challenge for the security
          team. Issues arise and must be addressed efficiently and in an expedited manner. Besides keeping abreast with emerging
          technology, the team needs to develop strategies that ultimately work within the organization.
        </p>
        <p>
          Can classic analysis tools be used on a strict time cycle? How can a security team handle the demands of a product team?
          How to ensure that everyone is on the same page and understands what’s under the hood? In seeking answers to these
          questions, this talk assembles a set of tips and tricks by showing some work and spikes used in a real software
          house. One hopes to provide a potential roadmap for the implementation of secure and improved Software Developing
          Life Cycles.
        </p>
        <p>
          Renato is Informatics Engineer, with high interest in security issues, working in the AppSec world for a while. Curator of
          an AppSec Ezine and promoter of a security enthusiasts group – more than breaking through challenges, it is all
          about sharing the knowledge.
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Nuno Rafael Gomes</strong> <small>@johnsmith</small>
        </p>
        <p>Discover market opportunities, frame and solve problems, build an organization and its business, and delight customers
          is hard. But even harder is the journey to unlock your inner self.</p>
        <p>Your perceptions and internal belief system shape the reality you sense, keeping you alive but blind most of the
          time. Very often, you must unlearn what you have learned at school and from your past experiences. In life, to
          create your own value and uncover your mantra, you must reinterpret yourself and build your own learning path.</p>
      </div>
    </div>
  </article>
</div>