{% include components/meetuptitle.html number=7 title="Lightning Talks" date="11/08/2017" host="UPTec" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>03/08/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Lighting Talk #1: <strong>You don't need a DevOps to "be DevOps (Filipe Freire)</strong></li>
        <li>Lighting Talk #2: <strong>Running .Net in Linux (Pedro Martins)</strong></li>
        <li>Lighting Talk #3: <strong>Microservices? You have to be this tall!</strong></li>
        <li>Networking break</li>
        <li>Lighting Talk #4: <strong>Data: Transparency vs Privacy (Pedro Sousa)</strong></li>
        <li>Lighting Talk #5: <strong>Cloud Design Patterns, a Quick Start Towards Scalable Development (Tiago Boldt Sousa)</strong></li>
        <li>Lighting Talk #6: <strong>Quick Sprint - Dynamic Data Masking (Ivan Campos)</strong></li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image is-128x128">
        <a href="http://uptec.up.pt" target="_blank"><img alt="UPTec" src="assets/images/hosts/uptec.png" /></a>
      </figure> 
      <h3>Partners</h3>
      <figure class="image is-128x128">
        <a href="http://www.portodata.net/" target="_blank"><img alt="Porto.Data" src="assets/images/hosts/portoData.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        
        <div class="media-content">
          <div class="content">
            <h3>Talks</h3>
            <p>Lighting Talk #1: You don't need a DevOps to "be DevOps (Filipe Freire)</p>
            <p>Lighting Talk #2: Running .Net in Linux (Pedro Martins)</p>
            <p>Lighting Talk #3: Microservices? You have to be this tall!</p>
            <p>Lighting Talk #4: Data: Transparency vs Privacy (Pedro Sousa)</p>
            <p>Lighting Talk #5: Cloud Design Patterns, a Quick Start Towards Scalable Development (Tiago Boldt Sousa)</p>
            <p>Lighting Talk #6: Quick Sprint - Dynamic Data Masking (Ivan Campos)</p>
          </div>
          <div class="content">
            <h4>How to Submit</h4>
            <p>Talk submission is done through our <a href="https://goo.gl/forms/LpS4noS5a3iA0vw83" target="_blank">Call for Speakers form</a>. Don't worry - it's simple. </p>
            <p>Afterwards we'll get back to you to get the <a href="speakerfollowup.html">review process</a> going.</p>
          </div>
        </div>
      </article>
    </div>
    
  </div>

</div>
