{% include components/meetuptitle.html number=11 title="Ramp up your learning habits in 2018" date="12/12/2017" host="Bitmaker" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>12/12/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk: <strong>Ramp up your learning habits in 2018. The 2018 DevOps Porto Learning Challenge</strong></li>
        <li>Networking break</li>
        <li>Open space forum</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.bitmaker.com/home/" target="_blank"><img alt="Bitmaker" class="width-is-128" src="assets/images/hosts/bitmaker.png" /></a>
      </figure> 
      
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m011_miguelalho.jpg" %}
        
        <div class="media-content">
          <div class="content">
            <h3>Ramp up your learning habits in 2018.</h3>
            <h4> The 2018 DevOps Porto Learning Challenge</h4>
            {% include components/speakerhandle.html name="Miguel Alho" twitter="mytymyky" linkedin="miguelalho" %}
            <p>
              Continuous learning is essential to all knowledge workers, especially IT pros who are key stakeholders in an industry where tech is constantly changing and evolving. 
              How that learing happens varies from person to person, and company to company. Work activities, personal lives and general firefighting often leave our 
              learning tasks on the backlog of life. Also, unfortuately, not every company invests adequately in training, which only helps promote skill obseletion.
            </p>
            <p>
              In this talk, Miguel will remind you the importance of learing and skill development and look to challenge you to ramp up your learning habits in 2018. 
              He'll offer some topics to look into next year and offer some tips to help follow through with that effort that have helped him along his own career.
            </p>
            <h4>About Miguel:</h4>
            <p>
              Miguel is a full-time, 13-years-in-the-making, software engineer with a DevOps and Craftsmanship mindset. He currently works 
              at FARO Technologies, in Gaia, and is part of the platform team that is bringing suportive services of the core products into 
              the cloud. Previously, he worked mainly as a freelance consultant through his own company, but also worked as a school teacher, 
              trainer and media producer.</p>
            <p>
              He's a proponent of TDD as a development practice, very fond of microservices, and of automating as much as possible in every part of the 
              product pipeline. Finding ways to augment individual and team learning experiences is a special interest of his.
            </p>
            <!--
            <h4>Media</h4>
            <p><a href="https://gitpitch.com/MiguelAlho/LearningChallenge2018#/" target="_blank">Slide deck</a></p>
            -->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>