{% include components/meetuptitle.html number=35 title="Deploy with Octopus partnered with NetPonto Porto" date="21/01/2020" host="Farfetch"%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>21/01/2020</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk:
          <strong>Turbocharging Azure DevOps with Octopus Deploy</strong>
        </li>
        <li>Coffee/Networking break</li>
        <li>Open space</li>
        <li>Wrap up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.farfetch.com/" target="_blank"><img alt="Farfetch" class="width-is-128" src="assets/images/hosts/farfetchlogologotype.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m035_derekcampbell.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Turbocharging Azure DevOps with Octopus Deploy</h3>
            {% include components/speakerhandle.html name="Derek Campbell"  twitter="DevOpsDerek"%}
            <p>
              Often, organizations and members of the Dev and Ops teams have automated the build & test but still, 
              need to deploy manually and often out of hours. Azure DevOps and Octopus Deploy go together like cheese and 
              crackers and are easily integrated and can be used to deploy to Azure IaaS & PaaS and also on-Premise.
            </p>
            <p>
              In this session, Derek will take you through how to integrate Azure DevOps and Octopus Deploy using the extension. 
              He will then configure an Azure pipeline and lastly pass this through to Octopus Deploy which will then deploy to 
              Azure from a single build and test all the way to Production.
            </p>

            <h4>About Derek Campbell Craske:</h4>
            <p>
              Derek as worked across the world in London, Melbourne, Singapore, and now from home in Glasgow, Scotland, for Octopus Deploy 
              as a CI/CD Architect in the Customer Success team. He has been automating CI/CD pipelines for about eight years and 
              has helped lead and implement CI/CD across multiple companies during his time in DevOps & Automation Consultancy.
            </p>
            <p>
              Derek works with and helps Octopus Deploy’s biggest clients with their CI/CD pipeline and helps enable their success with Octopus Deploy.
            </p>

            <!-- <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup-33-how-devops-supported-la-redoute-reinvention-by-antoine-craske" target="_blank">Slide deck @ SpeakerDeck</a>
            </p> -->
           
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
