{% include components/meetuptitle.html number=12 title="Title Goes Here" date="18/01/2017" host="Bit (Sonae)" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>18/01/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk: <strong>Title Goes Here</strong></li>
        <li>Networking break</li>
        <li>Open space forum</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.linkedin.com/showcase/bit-sonae/" target="_blank"><img alt="Bit" class="width-is-128" src="assets/images/hosts/bit-sonae-logo.png" /></a>
      </figure> 
      
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m012_eduardopiairo.png" %}
        
        <div class="media-content">
          <div class="content">
            <h3>Title Goes Here.</h3>
            {% include components/speakerhandle.html name="Eduardo Piairo" twitter="EdPiairo" linkedin="jesuspiairo" %}
            <p>
              
            </p>
            <h4>About Eduardo:</h4>
            <p>
                Eduardo is a deployment pipeline craftsman always ready to learn new ways to implement Source Control, Continuous Integration 
                and Continuous Delivery for databases, applications and infrastructure. He currently works as an operations engineer @ <a href="https://www.basecone.com/" target="_blank">Basecone</a>,
                and is a DevOps prosecutor with automation, collaboration and communication as priorities. Also, he works as a database administrator with special interest in database changes and data modeling.
              </p>
              <p> 
                  The deployment pipeline is his favorite technical and cultural tool. His mission is to relieve the delivery pain, 
                  while achieving the balance between business and business materialization.
            </p>
            <!--
            <h4>Media</h4>
            <p><a href="" target="_blank">Slide deck</a></p>
            -->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>