{% include components/meetuptitle.html number=6 title="Security / Culture" date="11/07/2017" host="Euronext Tech Center" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>11/07/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk #1: <strong>Security in the wild (Renato Rodrigues)</strong></li>
        <li>Networking break</li>
        <li>Talk#2: <strong>Culture: a gentle introduction. (Nuno Rafael Gomes)</strong></li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="http://www.euronext.com/pt-pt" target="_blank"><img alt="Euronext" class="width-is-128" src="assets/images/hosts/euronextlogo.jpg" /></a>
      </figure> 
      <h3>Partners</h3>
      <figure class="image is-128x128">
        <a href="https://www.meetup.com/pt-BR/0xOPOSEC/" target="_blank"><img alt="0xOPOSEC" src="assets/images/hosts/0xOPOsec.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m006_renato.jpg" %}
        
        <div class="media-content">
          <div class="content">
            <h3>Security in the wild</h3>
            {% include components/speakerhandle.html name="Renato Rodrigues" twitter="simps0n" linkedin="" %}
            <p>
              With 0xOPOSEC (@oposec) community as partner, we are happy and grateful for having Renato Rodrigues (@simps0n) as invited
              speaker. For Renato and for a modern software house, security is a top priority. It is a fast-paced working
              environment focused on continuous delivery and integration. Keeping up is an endless and demanding challenge
              for the security team. Issues arise and must be addressed efficiently and in an expedited manner. Besides keeping
              abreast with emerging technology, the team needs to develop strategies that ultimately work within the organization.
            </p>
            <p>
              Can classic analysis tools be used on a strict time cycle? How can a security team handle the demands of a product team?
              How to ensure that everyone is on the same page and understands what’s under the hood? In seeking answers to
              these questions, this talk assembles a set of tips and tricks by showing some work and spikes used in a real
              software house. One hopes to provide a potential roadmap for the implementation of secure and improved Software
              Developing Life Cycles.
            </p>
            <h4>About Renato:</h4>
            <p>
              Renato is Informatics Engineer, with high interest in security issues, working in the AppSec world for a while. Curator of
              an AppSec Ezine and promoter of a security enthusiasts group – more than breaking through challenges, it is
              all about sharing the knowledge.
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m006_nunogomes.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Culture: a gentle introduction</h3>
            {% include components/speakerhandle.html name="Nuno Rafael Gomes" twitter="nrgomes" linkedin="" %}
            <p>Nuno's talk will cover the following topics:</p>
            <ul>
              <li>What is a National Culture?</li>
              <li>What is an Organizational Culture?</li>
              <li>How to make sense of Culture? The Cultural Iceberg.</li>
              <li>How to decode Culture? Some dimensions and models. </li>
              <li>Culture or Strategy?</li>
              <li>A multicultural world or work?</li>
              <li>Agile as Culture?</li>
              <li>DevOps as Culture? </li>
              <li>Changing Culture? Really? Why? How? A possible approach.</li>
            </ul>

            <h4>About Nuno:</h4>
            <p>
              With almost 20 years’ experience playing and learning with different people, teams, and business challenges, Nuno currently
              works as an independent Lean Agile Coach helping People to achieve their potential, Teams to perform better
              and Organizations to be nimble.
            </p>
            <p>
              Nuno is also the founder of Agile Connect®, a platform that encourages and supports the widespread adoption of effective
              Lean & Agile thinking and practices, and the editor of Serious Learning, an online publication devoted to Lean,
              Agile, Active Learning, Training & Development and LEGO® SERIOUS PLAY® (https://medium.com/seriouslearning).
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>