{% include components/meetuptitle.html number=23 title="Agile vs DevOps" date="22/12/2018" host="Pólo Zero"%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>22/12/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>1st round of debates</li>
        <li>Coffee/Networking break</li>
        <li>2nd round of debates</li>
        <li>Conclsions</li>
        <li>Wrap up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="http://polozero.fap.pt/" target="_blank"><img alt="Pólo Zero" class="width-is-128" src="assets/images/hosts/polozero.jpg" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m23_pedroalmeida.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Speaker</h3>
            {% include components/speakerhandle.html name="Pedro Almeida" linkedin="pfsalmeida" twitter="pfsalmeida" %}

            <p>
              Having the crazy motto “Changing the world every day” I’m passionate about teams, its people and its interactions. 
              Passionated about agility and engineering I've started working in Telecommunication area as a developer with amazing teams 
              from Maisis, PT Inovação, Nokia. And the last 4 years being an Agile Coach at Farfetch and now at 
              Talkdesk - the most amazing call center product of the world!
            </p>

          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m23_eduardopiairo.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Speaker</h3>
            {% include components/speakerhandle.html name="Eduardo Piairo" linkedin="eduardopiairo" twitter="EdPiairo" %}
            
            <p>
              DevOps Whisperer, Community Builder, always ready to learn SC, CI and CD for databases, applications and infrastructure. 
              The deployment pipeline it's my favorite technical and cultural tool.
              DevOps Coach @ Natixis with automation, collaboration and communication as priorities.
            </p>

          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m004_ricardo.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Speaker</h3>
            {% include components/speakerhandle.html name="Ricardo Castro" linkedin="ricardo-castro-9a039126" twitter="mccricardo" %}
            
            <p>
              DevOps and Site Reliability Engineer at Uphold building highly performant, reliable and scalable systems. 
              Strong believer in culture and team work.
              Open source passionate, taekwondo amateur and metal lover.
            </p>

          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m006_nunogomes.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Speaker</h3>
            {% include components/speakerhandle.html name="Nuno Rafael Gomes" linkedin="nrgomes" twitter="nrgomes" %}
            
            <p>
              With +20 year's experience playing and learning with different people, teams, and business challenges, Nuno works for IOSAE, 
              a professional services company specializing in organizational agility for clients in sectors as diverse as Education, 
              E-commerce, Manufacturing, and Telecommunications. Nuno is the founder of Agile Connect, one of its amazing Facilitators, 
              and also an Accredited Kanban Trainer (AKT), and an eduScrum Trainer & Coach.
            </p>

          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m008_martatorneiro.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Moderator</h3>
            {% include components/speakerhandle.html name="Marta Torneiro" linkedin="martatorneiro" %}
            
            <p>
              I’ve worked for more than 4 years in the Quality Assurance area and in the last 2 and a half years of those, as a manager 
              of 2 different QA teams in two different companies. I’m currently working as a Delivery Manager @Blip and loving it!
              Passionate and enthusiast about continuous improvement, people, Agile and DevOps cultures and everything in between.
            </p>

          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m23_suleanderzahn.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Moderator</h3>
            {% include components/speakerhandle.html name="Suleander Zahn" linkedin="suleander" twitter="Suleander" %}
            
            <p>
              Always curious about people and their interactions, constant learner of culture and behaviour. 
              Currently Agile Coach @Prozis, fostering the creation and sustainability of a work environment based on trust, 
              collaboration, transparency, inspection and adaptation, so the best solutions may emerge for the benefit of our customers.
            </p>

          </div>
        </div>
      </article>
    </div>

  </div>
</div>
