{% include components/meetuponlinetitle.html number=38 title="DataOps - DevOps Porto & DSPT" date="06/08/2020" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>23/07/2020</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Using cutting-edge open-source technologies to build one of the biggest industrial Data Lake of the World by Allan Sene</strong></li>
        <li>Talk: <strong>Intro to FastAPI by Sebastián Ramírez</strong></li>
        <li>Closing</li>
      </ul>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m038_allansene.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Using cutting-edge open-source technologies to build one of the biggest industrial Data Lake of the World</h3>
            {% include components/speakerhandle.html name="Allan Sene" linkedin="allansene"%}

            <p>
              On this talk, we will discuss how DataSprints is using cutting-edge open-source technologies, such as Dremio and dbt, 
              to build one of the biggest industrial Data Lakes of the World, serving more than 200 reports, processing more than 
              300Gb and 2000+ columns datasets in near-realtime (8s), keeping the cloud costs very low, and by very low we mean,
              VERY LOW. We will pass through the architecture now in production, all the challenges and lessons learned on this 
              project.
            </p>

            <h4>About Allan Sene:</h4>
            <p>
              Allan has a background in Computer Science and Statistics, having worked with Datasince 2010, from genetic 
              data transformation to complex industrial data lakes. He's Co-Founder & CTO at DataSprints and Co-Founder of 
              Data Hackers.
            </p>
            <!-- <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup27-performing-analytics-asap-by-diego-reiriz-cores" target="_blank">Slide deck @ SpeakerDeck</a>
            </p> -->
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m038_sebastianramirez.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Intro to FastAPI</h3>
            {% include components/speakerhandle.html name="Sebastián Ramírez" linkedin="tiangolo" twitter="tiangolo" github="tiangolo"%}

            <p>
              Learn how to create an API ready for production in very little time using FastAPI... explained with memes. Your API 
              will have automatic validation, documentation based on standards, high performance, and several other features. All 
              this, having editor support including autocompletion everywhere.
            </p>

            <p>
              In this talk you will learn what FastAPI can do, and how it could benefit you. You will see how to declare the data 
              you want to receive in each request using standard Python type annotations. Including path parameters, 
              query parameters, body payloads with JSON, etc.
            </p>

            <p>
              You will also see how to use simple, standard, Python type annotations to declare complex 
              JSON body payloads with deeply nested structures, and get automatic data validation, serialization, 
              and documentation.
            </p>

            <h4>About Sebastián Ramírez:</h4>
            <p>
              Sebastián (tiangolo) is the creator of FastAPI, Typer, and other open source tools. Currently he's a developer at Explosion in Berlin, Germany.
            </p>
            <!-- <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup-27-s-dot-m-a-dot-c-k-dot-ing-the-insights-from-your-data-by-filipe-coelho" target="_blank">Slide deck @ SpeakerDeck</a>
            </p> -->
          </div>
        </div>
      </article>
    </div>

  </div>
</div>
