{% include components/meetuptitle.html number=19 title="DevOps Porto and Python Porto: Summer Talks" date="01/08/2018" host="Blip" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>01/08/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Lighting Talk #1: <strong>Infrastructure as Code: a DevOps enabling tool (Diana Martins)</strong></li>
        <li>Lighting Talk #2: <strong>Behind machine learning (Ricardo Cruz)</strong></li>
        <li>Lighting Talk #3: <strong>GUI programming on Python with Tkinter (Vitor Domingos)</strong></li>
        <li>Networking break</li>
        <li>Lighting Talk #4: <strong>Speed CI with Gitlab CI and Docker (Alfredo Palhares)</strong></li>
        <li>Lighting Talk #5: <strong>Needle in a haystack – a DevOps story (Ana Maria Heleno)</strong></li>
        <li>Lighting Talk #6: <strong>Python as a tool for experimenting (Leonid Kholkine)</strong></li>
        <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image">
        <a href="https://www.blip.pt/" target="_blank">
          <img alt="Blip" class="width-is-128" src="assets/images/hosts/blip.png" />
        </a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">

      <!--Diana Martins-->
      <article class="media">
        {% include components/speakerimage.html imagename="m019_dianamartins.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Infrastructure as Code: a DevOps enabling tool</h3>
            {% include components/speakerhandle.html name="Diana Martins" linkedin="dianacmartins" %}
            <p>
              With the appearance of DevOps, a product’s lifecycle stops being about separate stages conducted by independent teams. 
              It transitioned to a continuous process carried out by teams sharing knowledge, thoughts, opinions, and tools. 
              IaC tools allow infrastructure deployment and configuration management through code, proving themselves as a strong link 
              element between devs and ops.
            </p>
            <h4>About Diana Martins:</h4>
            <p>
              Software Engineer and DevOps enthusiast
            </p>
            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup19-infrastructure-as-code-a-devops-enabling-tool-by-diana-martins" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
          </div>
        </div>
      </article>
      
      <!--Ricardo Cruz-->
      <article class="media">
        {% include components/speakerimage.html imagename="m019_ricardocruz.png" %}
        <div class="media-content">
          <div class="content">
            <h3>Behind machine learning</h3>
            {% include components/speakerhandle.html name="Ricardo Cruz" github="rpmcruz" %}
            <p>
              A linear regression and a neuronal network will be implemented using nothing but Python.
            </p>
            <h4>About Ricardo Cruz:</h4>
            <p>
                I do research on machine learning and computer vision. <a href="https://rpmcruz.github.io/" target="_blank">https://rpmcruz.github.io/</a>
            </p>
            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup19-behind-machine-learning-by-ricardo-cruz" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
          </div>
        </div>
      </article>

      <!--Victor Domingos-->
      <article class="media">
        {% include components/speakerimage.html imagename="m019_vitordomingos.jpg" %}
          <div class="media-content">
            <div class="content">
              <h3>GUI programming on Python with Tkinter</h3>
              {% include components/speakerhandle.html name="Victor Domingos" twitter="victordomingos" linkedin="victordomingos" %}
              <p>
                One of most overlooked packages from The Python Standard Library is tkinter and it's child ttk. 
                Tkinter allows us to build graphic user interfaces without adding external dependencies, and with a bit of care, it allows for a good user experience. 
                While learning Python programming, I have been exploring tkinter/ttk as a tool for building user-friendly graphical interfaces. 
                I would like to share that experience and some of the insights that have arisen during that process. 
                Tkinter may not be able to replace a native GUI toolkit, but can certainly be an important addition to any developers toolbox, 
                both for personal use, or for bridging our code to less technical users.
              </p>
              <h4>About Victor Domingos</h4>
              <p>
                I was born in 1981 in Arcos de Valdevez and at the moment I live in Braga. I completed a 5 years degree in Psychology at
                 University of Minho by 2005 and, throughout my life, I have always been engaged into learning something. 
                 I work as an Apple Product Professional at Promais. I started learning Python about 2 years ago and most of that 
                 time I have been exploring the possibilities of Python/tkinter for building Mac-friendly graphical user interfaces.
              </p>
              <h4>Media</h4>
              <p>
                <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup19-gui-programming-on-python-with-tkinter-by-vitor-domingos" target="_blank">Slide deck @ SpeakerDeck</a>
              </p>
            </div>
          </div>
      </article>

        <!--Alfredo Palhares-->
        <article class="media">
          {% include components/speakerimage.html imagename="m019_alfredopalhares.jpg" %}
            <div class="media-content">
              <div class="content">
                <h3>Speed CI with Gitlab CI and Docker</h3>
                {% include components/speakerhandle.html name="Alfredo Palhares" github="masterkorp" %}
                <p>
                  Short description of Gitlab CI and you can get it running and building. From building, test and deploy, 
                  the example is on kubernetes. 
                </p>
                <h4>About Alfredo Palhares:</h4>
                <p>
                  Lead DevOps Engineer @ Prozis, Fitness and Outdoors entusiast.
                </p>
                <h4>Media</h4>
                <p>
                  <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup19-speed-ci-with-gitlab-ci-and-docker-by-alfredo-palhares" target="_blank">Slide deck @ SpeakerDeck</a>
                </p>
              </div>
            </div>
          </article>
     
      <!--Ana Maria Heleno-->
      <article class="media">
        {% include components/speakerimage.html imagename="m019_anamariaheleno.jpg" %}
          <div class="media-content">
            <div class="content">
              <h3>Needle in a haystack – a DevOps story</h3>
              {% include components/speakerhandle.html name="Ana Maria Heleno" linkedin="anamariaheleno" %}
              <p>
                What are the main challenges about recruiting in IT? What do recruiters search for when hiring for DevOps roles? 
                At this point, we are all used to hearing about how the labor market is becoming more dynamic and fast-paced. 
                Companies look for top notch engineers for their teams – recruit, hire, retain, let go. Rewind and repeat. 
                We are dealing with people, companies and their circumstances - and this scenario can change very quickly. 
                There is never a perfect fit; but what can we do to be as close as possible to that?
              </p>
              <h4>About Ana Maria Heleno:</h4>
              <p>
                Talent Acquisition Specialist @ Natixis in Portugal
              </p>
              <h4>Media</h4>
              <p>
                <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup19-needle-in-a-haystack-a-devops-story-by-ana-maria-heleno" target="_blank">Slide deck @ SpeakerDeck</a>
              </p>
            </div>
          </div>
        </article>
      
        <!--Leonid Kholkine-->
      <article class="media">
          {% include components/speakerimage.html imagename="m019_leonidkholkine.jpg" %}
            <div class="media-content">
              <div class="content">
                <h3>Python as a tool for experimenting</h3>
                {% include components/speakerhandle.html name="Leonid Kholkine" twitter="leonidkho" linkedin="kholkine" %}
                <p>
                  In an agile and lean world, when you need to get the fastest feedback for your buck, you need a tool that can accelerate your 
                  software development and create an MVP in days. That's where Python can come in. This talk will be focused on how to use how to 
                  create an MVP quickly with Python and how to put in production as fast as possible, with concrete example from Tonic App.
                </p>
                <h4>About Leonid Kholkine:</h4>
                <p>
                  Graduated in Computer Engineering, I've started my career as a freelance developer, worked on several web and VoIP projects. 
                  Currently I'm the Head of Engineering at Tonic App. 
                </p>
                <h4>Media</h4>
                <p>
                  <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup19-python-as-a-tool-for-experimenting-by-leonid-kholkine" target="_blank">Slide deck @ SpeakerDeck</a>
                </p>
              </div>
            </div>
          </article>

    </div>
  </div>

</div>
