{% include components/meetuptitle.html number=60 title="Secure Remote Access Without a VPN" date="07/02/2023" host="Infraspeak" %}

<div class="columns content">
    <div class="column is-one-third">
        <div class="box">
            <h3>07/02/2023</h3>
            <h3>Agenda:</h3>
            <ul>
                <li>Welcome</li>
                <li>Talk: <strong>Secure Remote Access Without a VPN
                </strong></li>
                <li>Q&A</li>
                <li>Closing</li>
            </ul>
            <h3>Host</h3>
            <figure class="image ">
                <a href="https://infraspeak.com/" target="_blank"><img alt="Infraspeak" class="width-is-128" src="assets/images/hosts/infraspeak.png" /></a>
            </figure>
        </div>
    </div>
    <div class="column is-auto">

        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h3>Secure Remote Access Without a VPN</h3>

                        <p>
                            Securely accessing remote resources is a problem that every company faces, and many solutions
                            already exist.
                        </p>

                        <p>
                            This talk will explain why and how we used one of Hashicorp's latest tools, Boundary
                            (https://www.boundaryproject.io), to allow secure remote access without a VPN or a
                            traditional jump host.
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                {% include components/speakerimage.html imagename="m060_goncaloqueiros.jpeg" %}
                <div class="media-content">
                    <div class="content">
                        <h4>Gonçalo Queirós:</h4>
                        <p>
                            Gonçalo Queirós is a Software Engineer with 15+ years of experience, specializing in backend
                            technologies and infrastructure.
                        </p>
                        <p>
                            He is currently employed at Infraspeak as the Head of Engineering, where he works with a
                            team of talented people building a next-gen Intelligent Maintenance Management Platform.
                        </p>
                        <p>
                            Gonçalo enjoys finding and exploring new technologies and is always open to a good
                            conversation.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
