{% include components/meetuponlinetitle.html number=49 title="Fifteen minutes or bust" date="22/02/2022" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>16/12/2021</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Panel discussion: <strong>DevOps/SRE Anti-patterns</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://www.youtube.com/watch?v=ViMunF3rJs4" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>DevOps/SRE Anti-patterns panel discussion</h3>

            <p>Anti-patterns are solutions to problems that are, usually, ineffective and carry high risks. Although they might appear appropriate and effective, the gains tend to be short-term. Their consequences turn out to be more trouble than they’re worth.</p>
            <p>Like many practices, DevOps and SRE have their fair share of anti-patterns and it's tempting to adopt them. Projects might be under budget and time constraints or there might be there a lack of proper skills. When a quick and dirty fix is needed in an emergency, without any malicious intent, there is usually an intention to come back and do it properly, but time and priorities can interfere.</p>
            <p>In this panel discussion, our panelists will explore anti-patterns when trying to onboard DevOps/SRE practices into organizations.</p>
          </div>
        </div>
      </article>
      <article class="media">
	{% include components/speakerimage.html imagename="m047_claudiofreitas.jpeg" %}
        <div class="media-content">
          <div class="content">
            <h4>About Cláudio Freitas:</h4>
            <p>Cláudio is a Systems Administrator/DevOps/SRE and all those fancy words that people use to describe guys that work on Systems. He started working in IT from a young age and has been in the game for around 12 years. From Helpdesk to Systems Engineer he has been working as a freelancer in the SRE/DevOps/Systems area.</p>
	  </div>
	</div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m047_luisparada.jpeg" %}
        <div class="media-content">
          <div class="content">
            <h4>About Luis Parada:</h4>
            <p>Luís Parada is Head of Engineering at FARFETCH, currently focused on foundational aspects of the platform such as Observability, CI/CD pipelines, Scalability, and Resilience. Prior to this Parada led Farfetch ID, the group responsible for FARFETCH’s Identity Provider, Authentication & Authorisation, Customer and Partner Account data.</p>
            <p>Parada likes to focus a lot on continuous improvement of teams and organizations and on personal development, sharing insights on his YouTube channel and via a Monthly Newsletter called A Leader's Mindset.</p>
          </div>
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m047_tiagoferreira.jpeg" %}
        <div class="media-content">
          <div class="content">
            <h4>About Tiago Ferreira:</h4>
            <p>From Software Developer, passing through QA Automation Engineer and all the way to Site Reliability Engineer, Tiago has always been focused on promoting software efficiency and reliability by either a direct approach (developing custom software and processes for teams) or by teaching and ramping them up in the DevOps practices. His love for automation (particularly its ability to enable teams to do their best effortlessly) has been the main driver of his career.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
