{% include components/meetuptitle.html number=3 title="Containers @ Azure" date="23/03/2017" host="DevScope" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>23/03/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li><strong>Azure Container Services (Pedro Sousa)</strong></li>
        <li>Networking break</li>
        <li><strong>Open Space Discussions</strong></li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="width-is-128">
        <a href="http://www.devscope.net" target="_blank"><img alt="Devscope" src="assets/images/hosts/devscope.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m003_pedrosousa.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Azure Container Services</h3>
            {% include components/speakerhandle.html name="Pedro Sousa" twitter="psousa75" linkedin="pmsousa" %}
            <p>
              Our invited speaker is Pedro Sousa (@psousa75) and in his talk, he will do a brief overview about Azure’s current
              offerings for Container deployment and orchestration. This talk will include where and how can you start to
              explore the environments and build a simple DevTest Lab.</p>

            <h4>About Pedro:</h4>
            <p>
              Pedro is a long-time IT Systems Engineer who has worked across many practices and disciplines in his career, with a primary
              focus on Microsoft-based Infrastructure solutions or Mixed-environments. At this point, he’s got 20+ years
              of experience managing Microsoft-based corporate infrastructure, ranging from 50 user shops all the way up
              to 1,000+ user organizations.
            </p>
            <p>
              Currently, he’s a Systems Engineer at DevScope where his work ranges the full Microsoft stack, from On-Prem Services (e.g.,
              Active Directory, Exchange, SharePoint, System Center Virtual Machine Manager) up to Azure (e.g., Virtual Machines,
              Cloud Services), and solid exposure and knowledge around almost all of the core underlying technologies that
              support and power the core Microsoft Infrastructure stack (e.g., DNS, DHCP, SQL Server, PowerShell, and so
              on).
            </p>
            <p>
              From the infrastructures perspective, he also has knowledge on technology that supports it (e.g., Cisco Systems or HP switching,
              routers, firewalls and Wireless AP’s).
            </p>
            <p>
              Previously he has worked 11 years as an IT Trainer (the last ones as a Microsoft Certified Trainer).
            </p>

            <h4>Media</h4>
            <p><a href="https://speakerdeck.com/devopsporto/devopsporto-meetup3-azure-container-services-by-pedro-sousa" target="_blank">Slide deck @ SpeakerDeck</a></p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>