<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Meetup #5 - Monitoring</h1>
      <h2 class="subtitle">13/06/2017; Hosted by Blip.pt</h2>
    </div>
  </div>
</section>

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk #1: <strong>Monitoring (Pedro Araújo)</strong></li>
        <li>Networking break</li>
        <li><strong>Open Space Discussions</strong></li>
        <li>Wrap-up</li>
      </ul>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="assets/images/speakers/m005_pedroaraujo.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <h3>Monitoring</h3>
            <p>
              <strong>Pedro Araújo</strong> <small><a href="https://twitter.com/phcrva">@phcrva</a><a href="https://www.linkedin.com/in/pharaujo/">LinkedIn</a></small>
            </p>
            <p>Not having the ability to know exactly how your production system behaves can be costly - both in terms of missed
              opportunities as well as recovery time when disaster strikes. However, the overall complexity of today's systems
              and their interactions makes it ever more difficult to have visibility into their health and performance.</p>
            <p>
              Our invited speaker Pedro Araújo (@phcrva) will explore the various facets of monitoring and how combining them can lead
              you from operational blindness to effective observability.</p>

            <h4>About Pedro:</h4>
            <p>
              Pedro is currently a Site Reliability Engineer at Blip.pt where he provides internal consultancy including design reviews,
              assistance with PoCs and technology selection, incident support and troubleshooting, education and both proactive
              and reactive performance tuning. He also shares responsibility in developing, configuring and maintaining production
              monitoring.
            </p>
            <h4>Media</h4>
            <p>Slide deck</p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>