{% include components/meetuptitle.html number=10 title="Organisational Design" date="14/10/2017" host="Celfocus" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>14/10/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk: <strong>How and why to design your Teams for modern Software Systems (Matthew Skelton)</strong></li>
        <li>Networking break</li>
        <li>Open space forum</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.celfocus.com/home/" target="_blank"><img alt="Celfocus" class="width-is-128" src="assets/images/hosts/celfocus.png" /></a>
      </figure> 
      
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m010_matthewskelton.jpg" %}
        
        <div class="media-content">
          <div class="content">
            <h3>How and why to design your Teams for modern Software Systems</h3>
            {% include components/speakerhandle.html name="Matthew Skelton" twitter="matthewpskelton" linkedin="matthewskelton" %}
            <p>
              For effective, modern, cloud-connected software systems we need to organize our teams in certain ways. Taking account of Conway’s Law, we look to match the team structures to the required software architecture, enabling or restricting communication and collaboration for the best outcomes. This talk will cover the basics of organization design, exploring a selection of key team topologies and how and when to use them in order to make the development and operation of your software systems as effective as possible. The talk is based on experience helping companies around the world with the design of their teams.
            </p>
            <h4>About Matthew:</h4>
            <p>
              Matthew (https://www.linkedin.com/in/matthewskelton/) has been building, deploying, and operating commercial software systems since 1998. Co-founder and Principal Consultant at [Skelton Thatcher Consulting](https://skeltonthatcher.com/), he specializes in helping organizations to adopt and sustain good practices for building and operating software systems: Continuous Delivery, DevOps, aspects of ITIL, and software operability. Matthew curates the well-known DevOps team topologies patterns at [devopstopologies.com](http://web.devopstopologies.com/) and is co-author of the books “Continuous Delivery with Windows and .NET” (O’Reilly, 2016) and “Team Guide to Software Operability” (Skelton Thatcher Publications, 2016).              
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>