{% include components/meetuptitle.html number=21 title="Say hello to SDN" date="16/10/2018" host="Porto i/o Santa Catarina"
%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>16/10/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk:
          <strong>Introduction to Software Defined Networking (SDN)</strong>
        </li>
        <li>Networking break</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="http://porto.io/" target="_blank"><img alt="Porto i/o" class="width-is-128" src="assets/images/hosts/portoio.png" /></a>
      </figure> 
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m021_remidias.jpg"%} -->

        <div class="media-content">
          <div class="content">
            <h3>Introduction to Software Defined Networking (SDN)</h3>
            {% include components/speakerhandle.html name="Remi Dias" linkedin="remidias" %}
            <p>
              Network Engineers are said to be bored about the lack of innovation on the enterprise market.
              A 48-Port Gigabit switch has the same functionality and price as five years ago! Ridiculous!
            </p>
            <p>
              Some people like change. And those bring new concepts and products to the market.
              They hope it sticks.
            </p>
            <p>
              The end goal of this talk is to make our small community talk about SDN and weight the pros and the cons by themselves.
              It better happen before the vendors make it the new market buzzword and force your CTO to adopt it.
            </p>
            <p>
              All the clouds use it, but do you need it too?
              Decide for yourself.
            </p>

            <h4>About Remi Dias:</h4>
            <p>
              Remi Dias is a Computer Networking student and enthusiast.
              Airsoft player and Gamer at weekends.
              Long time Linux user (btw, not Arch).
              Dislikes hysterical hype and buzzwords.
              Computer builder with a background in hardware sales and repair.
              My servers set themselves on fire sometimes, but no smoke (not much).
              Believes that everyone will use IPv6 in his lifetime (possibly).
            </p>
            
            <!--<h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup18-continuous-delivery-patterns-for-boring-releases-by-manuel-pais" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>-->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>