{% include components/meetuptitle.html number=20 title="Bits and coins" date="13/09/2018" host="Farfetch"
%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>13/09/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk:
          <strong>Monitoring Digital Money</strong>
        </li>
        <li>Networking break</li>
        <li>Open space forum</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.farfetch.com/" target="_blank"><img alt="Farfetch" class="width-is-128" src="assets/images/hosts/farfetchlogologotype.png" /></a>
      </figure> 
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m020_ruimarinho.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Monitoring Digital Money</h3>
            {% include components/speakerhandle.html name="Rui Marinho" twitter="ruipmarinho" linkedin="ruipmarinho" %}
            <p>
              Handling digital money requires careful and thoughtful processes. In this talk we explore how the risks, 
              dangers and gotchas of blockchain-based applications can be tackled successfully through dashboards, 
              log monitoring, alerting, post mortems and custom APIs.
            </p>

            <!--<h4>About Rui Marinho:</h4>
            <p>
            </p>-->
            
            <!--<h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup18-continuous-delivery-patterns-for-boring-releases-by-manuel-pais" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>-->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>