{% include components/meetuptitle.html number=4 title="Docker & Kubernetes" date="11/05/2017" host="Porto I/O" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>11/05/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li><strong>From Code to Kubernetes ( Miguel Ramos and Ricardo Castro)</strong></li>
        <li>Networking break</li>
        <li><strong>Open Space Discussions</strong></li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="width-is-128">
        <a href="http://www.porto.io" target="_blank"><img alt="Porto I/O" src="assets/images/hosts/portoio.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="assets/images/speakers/m004_miguel.jpg" alt="Image">
            <img src="assets/images/speakers/m004_ricardo.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <h3>From Code to Kubernetes</h3>
            {% include components/speakerhandle.html name="Miguel Ramos" twitter="realKha0S" linkedin="miguel-ramos-7653b118" %}
            {% include components/speakerhandle.html name="Ricardo Castro" twitter="mccricardo" linkedin="ricardo-castro-9a039126" %}
            
            <p>Our invited speakers Miguel Ramos (<a href="https://twitter.com/realKha0S">@realKha0S</a>) and Ricardo Castro
              (
              <a href="https://twitter.com/mccricardo">@mccricardo</a>) will deliver the a talk about their deployment journey
              since deploying applications directly into servers, starting experimenting with Docker, passing through Rancher
              and eventually settling with Kubernetes.</p>

            <h4>About Miguel:</h4>
            <p>
              Miguel is Head of System Operations at Uphold who likes distributed systems and HPC. He has a large experience in several
              fields, going from networking to cryptocurrencies.
            </p>
            <h4>About Ricardo:</h4>
            <p>
              Ricardo is a DevOps Engineer who likes to automate anything he has to do more than once. He also likes to kick stuff in Taekwondo,
              if possible listening to metal music.

            </p>

            <h4>Media</h4>
            <p>Slide deck</p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>