{% include components/meetuponlinetitle.html number=46 title="Migration: Lift&Shift with Accenture and Google Cloud" date="22/11/2021" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>22/11/2021</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Migration: Lift&Shift with Accenture and Google Cloud</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Migration: Lift&Shift with Accenture and Google Cloud</h3>

            <p>
	      Accenture’s SAP HANA CoE maintains demo & training SAP systems for Accenture internal use worldwide. 
	      Those SAP systems were hosted on an AWS infrastructure, and Accenture wanted to migrate them to Google Cloud in order to obtain cost savings and synergies with other SAP Google Cloud offerings.
	    </p>
            <p>
              The full AWS SAP HANA infrastructure successfully migrated to Google Cloud automating 70% of the migration activities and applying automated migration tools that increased the speed of the migration concluding it in 10 weeks. 
	    </p>
            <p>
              In this presentation we'll be discussing the migration of multiple SAP systems to Google Cloud using a Lift & Shift approach and what we learned.
	    </p>
          </div>
        </div>
      </article>
      <article class="media">
	{% include components/speakerimage.html imagename="m046_alexandrebrito.png" %}
        <div class="media-content">
          <div class="content">
            <h4>About Alexandre Brito:</h4>
            <p>
              Graduated in 2008 in Computer and Telematics Engineering Aveiro University. 
	      Was a scholarship holder at Telecommunications Institute of University of Aveiro, teacher at School of Technology and Management Águeda and joined Accenture in 2018 after some experiences in the telecommunication industry. 
	      Currently, he is a manager at Accenture Portugal, at the Advanced Technology Center in Braga and is responsible for the Cloud DevOps group. 
	      As a software engineer, he did a little bit of everything and currently considers himself a Technical Project Manager. 
	    </p>
	  </div>
	</div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m046_diogoteixeira.png" %}
        <div class="media-content">
          <div class="content">
            <h4>About Diogo Teixeira:</h4>
            <p>
	      Graduated in 2018 in Computer Science, joining Accenture right after graduation. 
	      Currently is a Senior Developer at Accenture’s Advanced Technology Center in Braga, at the Cloud DevOps group. 
	      As a software engineer, worked in different projects, being currently focused on Google Cloud Platform.
	    </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
