{% include components/meetuptitle.html number=27 title="DataOps" date="16/05/2019" host="Blip" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>15/04/2019</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>DataOps: Creating Data Based Solutions ASAP by Diego Reiriz Cores</strong></li>
        <li>Coffee/Networking break</li>
        <li>Talk: <strong>DataOps: S.M.A.C.K.ing the insights from your data by Filipe Coelho</strong></li>
        <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image">
        <a href="https://www.blip.pt/" target="_blank">
          <img alt="Blip" class="width-is-128" src="assets/images/hosts/blip.png" />
        </a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m027_diegoreirizcores.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>DataOps: Creating Data Based Solutions ASAP</h3>
            {% include components/speakerhandle.html name="Diego Reiriz Cores" linkedin="diegoreico" twitter="diegoreico"%}

            <p>
              Data Analytics it's a field in which we can find people working with very different backgrounds and with very different tools, This mixture of tools, roles and backgrounds can make very painful the process of generating new data based solutions fast, with a good level of quality and with confidence in the work you've made.
               The purpose of this talk it's to provide an introduction to the DataOps methodologies and to show the need of good practices creating data based solutions.
            </p>

            <h4>About Diego Reiriz Cores:</h4>
            <p>
              Diego works at Gradiant as an R&amp;D Engineer focused on Data and AI. He is also an AI Research Master Student and Vigobrain AI MeetUp Group CoOrganizer.
              The kind of work he do goes from small clusters management to ML/DL based on data from user interactions on different kind of scenarios, so he is involved into each step related to the data based solutions that his team creates.
            </p>
            <!--<h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup26-devops-adoption-at-meo-tv-by-cristina-moura-rebelo" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>-->
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m027_filipecoelho.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>DataOps: S.M.A.C.K.ing the insights from your data</h3>
            {% include components/speakerhandle.html name="Filipe Coelho" linkedin="dataplumbr" twitter="DataPlumbR" %}

            <p>
              There was a time, not long ago, when Data Science flourished and Big Data was everything. 
              Well, no one really knew what it was (just like the teenage sex joke), but you had to have it! Such behavior created a series of Anti Patterns for Data Science teams: from the cotton candy-powered Data Unicorn™️  to the Second-grade Data Plumber™️, going through the multi-title Jack of all (Data) Trades™️ to the fabulous Trophy Data Scientist. This talk will take you on a journey that hopefully leads to (not another buzzworded concept) DataOps. And with such great knowledge, comes great... technology!
              We'll also cover the S.M.A.C.K. Stack, because honestly, you wanna do things The Right Way™️!
            </p>

            <h4>About Filipe Coelho:</h4>
            <p>
              Filipe Coelho is a Senior Software Engineer specialized in the realm of Big Data. 
              He got his PhD in Informatics Engineering at FEUP while doing R&amp;D on Machine Learning at INESC TEC.
              More recently, Filipe focused on establishing Production-grade Big Data platforms at companies such as Farfetch, Prozis and now Hostelworld mentoring DataOps teams.
            </p>
            <!--<h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup26-a-brief-devops-history-at-edp-by-sergio-amorim" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>-->
          </div>
        </div>
      </article>
    </div>

  </div>
</div>
