{% include components/meetuptitle.html number=19 title="DevOps Porto and Python Porto: Summer Talks" date="01/08/2018" host="Blip" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>01/08/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>
          <strong>TBD</strong>
        </li>
      </ul>
      <h3>Host</h3>
      <figure class="image">
        <a href="https://www.blip.pt/" target="_blank">
          <img alt="Blip" class="width-is-128" src="assets/images/hosts/blip.png" />
        </a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% comment %}
          {% include components/speakerimage.html imagename="m001_manuel.jpg" %}
        {% endcomment %}

        <div class="media-content">
          <div class="content">
            <h3>DevOps Porto and Python Porto: Summer Talks</h3>
            {% comment %}
              {% include components/speakerhandle.html name="" twitter="" linkedin="" %}
            {% endcomment %}
            <p>
            Welcome to our 19th meetup about DevOps and it's culture, values and practices. This time we team up with <a href="https://www.meetup.com/pyporto/" target="_blank">Python Porto</a> community to bring you a set of lightning talks.
            </p>
            <p>
              Call For Papers is open, submit your ideas here: <a href="https://goo.gl/forms/Vtdb9KtNdX0vt5Fs2" target="_blank">Call For Papers - Lightning Talks</a>
            </p>
            <p>
              We will announce the agenda later.
            </p>
            <!--<h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup17-the-return-of-the-dull-stack-engineer-by-kris-buytaert" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>-->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
