{% include components/meetuptitle.html number=30 title="DevOps Porto and Python Porto: Summer Talks" date="08/08/2019" host="Euronext" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>08/08/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Lighting Talk #1: <strong>Localizing your app. Traps and pitfalls (Roman Imankulov)</strong></li>
        <li>Lighting Talk #2: <strong>10 Minutes away from Performance (William Mendes)</strong></li>
        <li>Lighting Talk #3: <strong>Gitlab CI with Python (André Gomes)</strong></li>
        <li>Networking break</li>
        <li>Lighting Talk #4: <strong>Applying DevOps to SQL Database development (Rodrigo Soares)</strong></li>
        <li>Lighting Talk #5: <strong>Fullstack Data Science - From Data Processing Pipeline using Luigi to Serverless Backend Architecture using AWS Lambda Functions (Arian Pasquali)</strong></li>
        <li>Lighting Talk #6: <strong>The unsung hero of Python Programming - Documentation (Brett Drury)</strong></li>
        <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image">
        <a href="https://www.euronext.com/" target="_blank">
          <img alt="Euronext" class="width-is-128" src="assets/images/hosts/euronextlogo.jpg" />
        </a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">

      <!--Roman Imankulov-->
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m019_dianamartins.jpg" %} -->
        <div class="media-content">
          <div class="content">
            <h3>Localizing your app. Traps and pitfalls</h3>
            {% include components/speakerhandle.html name="Roman Imankulov" linkedin="roman-imankulov-91076144" twitter="rdotpy" github="imankulov" %}
            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/localizing-your-app-traps-and-pitfalls-by-roman-imankulov" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
          </div>
        </div>
      </article>

      <!--William Mendes-->
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m019_ricardocruz.png" %} -->
        <div class="media-content">
          <div class="content">
            <h3>10 Minutes away from Performance</h3>
            {% include components/speakerhandle.html name="William Mendes" github="william-mendes" linkedin="william-mendes" %}
            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/10-minutes-away-from-performance-by-william-mendes" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
          </div>
        </div>
      </article>

      <!--André Gomes-->
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m019_vitordomingos.jpg" %} -->
          <div class="media-content">
            <div class="content">
              <h3>Gitlab CI with Python</h3>
              {% include components/speakerhandle.html name="André Gomes" %}
              <!-- <h4>Media</h4>
              <p>
                <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup19-gui-programming-on-python-with-tkinter-by-vitor-domingos" target="_blank">Slide deck @ SpeakerDeck</a>
              </p> -->
            </div>
          </div>
      </article>

        <!--Rodrigo Soares-->
        <article class="media">
          <!-- {% include components/speakerimage.html imagename="m019_alfredopalhares.jpg" %} -->
            <div class="media-content">
              <div class="content">
                <h3>Applying DevOps to SQL Database development</h3>
                {% include components/speakerhandle.html name="Rodrigo Soares" twitter="RodFontesSoares" linkedin="rodrigofontessoares" %}
                <h4>Media</h4>
                <p>
                  <a href="https://speakerdeck.com/devopsporto/applying-devops-to-sql-database-development-by-rodrigo-soares" target="_blank">Slide deck @ SpeakerDeck</a>
                </p>
              </div>
            </div>
          </article>

      <!--Arian Pasquali-->
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m019_anamariaheleno.jpg" %} -->
          <div class="media-content">
            <div class="content">
              <h3>Fullstack Data Science - From Data Processing Pipeline using Luigi to Serverless Backend Architecture using AWS Lambda Functions</h3>
              {% include components/speakerhandle.html name="Arian Pasquali" github="arianpasquali" linkedin="arianpasquali" %}
              <h4>Media</h4>
              <p>
                <a href="https://speakerdeck.com/devopsporto/fullstack-data-science-by-arian-pasquali" target="_blank">Slide deck @ SpeakerDeck</a>
              </p>
            </div>
          </div>
        </article>

      <!--Brett Drury-->
      <article class="media">
          <!-- {% include components/speakerimage.html imagename="m019_leonidkholkine.jpg" %} -->
            <div class="media-content">
              <div class="content">
                <h3>The unsung hero of Python Programming - Documentation</h3>
                {% include components/speakerhandle.html name="Brett Drury" linkedin="brett-drury-18249a" %}
                <h4>Media</h4>
                <p>
                  <a href="https://speakerdeck.com/devopsporto/the-unsung-hero-of-python-programming-documentation-by-brett-drury" target="_blank">Slide deck @ SpeakerDeck</a>
                </p>
              </div>
            </div>
          </article>

    </div>
  </div>

</div>
