{% include components/meetuptitle.html number=29 title="Docker Anatomy" date="18/07/2019" host="Farfetch"%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>18/07/2019</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk:
          <strong>Docker Anatomy</strong>
        </li>
        <li>Coffee/Networking break</li>
        <li>Open space</li>
        <li>Wrap up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.talkdesk.com/" target="_blank"><img alt="Farfetch" class="width-is-128" src="assets/images/hosts/farfetchlogologotype.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m029_joaosilva.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Docker Anatomy</h3>
            {% include components/speakerhandle.html name="José Silva" twitter="joaocruzsilva" linkedin="joão-silva-b7839176" %}
            <p>
              A pragmatic look into containers, what they are, how they work, and what that means for you.
            </p>

            <h4>About João Silva:</h4>
            <p>
              João Silva has a background in Electrical Engineering and Networking with a special space in his heart for IoT devices. Has worked for big and small companies doing SRE-related thingies. Works mostly in CI/CD stuff at Farfetch nowadays.
            </p>

            
            <!-- <h4>Media</h4>
            <p>
              <a href="#" target="_blank">Slide deck @ SpeakerDeck</a>
            </p> -->
           
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
