{% include components/meetuptitle.html number=59 title="Managing API Documentation at a Decacorn" date="11/01/2023" host="Le Wagon Porto" %}

<div class="columns content">
    <div class="column is-one-third">
        <div class="box">
            <h3>11/01/2023</h3>
            <h3>Agenda:</h3>
            <ul>
                <li>Welcome</li>
                <li>Talk: <strong>Managing API Documentation at a Decacorn
                </strong></li>
                <li>Q&A</li>
                <li>Closing</li>
            </ul>
            <h3>Host</h3>
            <figure class="image ">
                <a href="https://www.lewagon.com/porto" target="_blank"><img alt="Le Wagon Porto" class="width-is-128" src="assets/images/hosts/lewagon.png" /></a>
            </figure>
        </div>
    </div>
    <div class="column is-auto">

        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h3>Managing API Documentation at a Decacorn</h3>

                        <p>How developer documentation is created and managed at Talkdesk, an API-first company.
                            Talkdesk follows a software development strategy that is focused on allowing partners and
                            customers to integrate with its systems in a customized, easy, and flexible way.
                            APIs are a key element in this approach. And this requires structured and well-written
                            developer documentation so that Talkdesk's customers can learn how to use its APIs.
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                {% include components/speakerimage.html imagename="m059_anaduarte.jpeg" %}
                <div class="media-content">
                    <div class="content">
                        <h4>Ana Duarte:</h4>
                        <p>Ana studied at Universidade da Beira Interior and Universidade do Porto, where she
                            specialized in the Sciences of Communication. In addition to these BSc and Master's degrees,
                            she also has an Executive degree, from Católica Lisbon School of Business and Economics, on
                            Entrepreneurship, Management, and Innovation.
                        </p>
                        <p>She has been working at tech startups with an international scope since 2015. All of her
                            professional experiences revolve around writing. She's been working as a technical writer
                            since 2019, and she has made public presentations within the scope of her work (not as a
                            technical writer though) all over Portugal and also in the USA, Dubai, Belgium, and the UK.
                            Regarding technical writing, she has organized technical several writing workshops to help
                            her colleagues at Talkdesk improve their writing skills.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
