{% include components/meetuponlinetitle.html number=49 title="Fifteen minutes or bust" date="22/02/2022" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>22/02/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Fifteen minutes or bust</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://www.youtube.com/watch?v=twca1NkoI5Q" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Fifteen minutes or bust</h3>

            <p>There is a yawning gap opening up between the best and the rest — the elite top few percent of engineering teams are making incredible gains year over year in velocity, reliability and human-compatibility, while the bottom 50% are actually losing ground. And this has nothing to do with engineering ability. Take an engineer out of an elite-performing team and place them in the bottom 50%, and they become subpar too; take an engineer out of a mediocre team and embed them in an elite team, and they are pulling their weight within the year. So how do you build these high performing teams? The two most important components are observability and delivery time. We’ll talk about both of these and more.</p>
          </div>
        </div>
      </article>
      <article class="media">
	{% include components/speakerimage.html imagename="m049_charitymajors.jpeg" %}
        <div class="media-content">
          <div class="content">
            <h4>About Charity Majors:</h4>
            <p>Charity is the co-founder and CTO of honeycomb.io, which brings modern observability tooling to engineers in the era of distributed systems. Charity is the co-author of Database Reliability Engineering (O'Reilly), and is devoted to creating a world where every engineer is on call and nobody thinks on call sucks.</p>
	  </div>
	</div>
      </article>
    </div>
  </div>
</div>
