{% include components/meetuptitle.html number=24 title="Hello 2019 we are back!" date="19/02/2019" host="XING" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>19/02/2019</h3>
      <h3>Agenda:</h3>
      <ul>
          <li>Welcome</li>
          <li>Talk: <strong>UXIDevOps: The Trojan Horse for Implementing a DevOps Culture by Domingos Da Silva</strong></li>
          <li>Coffee/Networking break</li>
          <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://corporate.xing.com/en/" target="_blank"><img alt="XING Portugal" class="width-is-128" src="assets/images/hosts/xing.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m024_domingossilva.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>UXIDevOps: The Trojan Horse for Implementing a DevOps Culture</h3>
            {% include components/speakerhandle.html name="Domingos Da Silva" linkedin="domingos-da-silva" twitter="DomLinkgos"%}

            <p>
              As companies grow, the need for a DevOps Mindset that shapes its processes from scratch is essential. 
              Not having this culture and centralizing it to a single team or putting it too late into action can be catastrophic 
              for an organization as it walks towards fully automated processes.
            </p>
            
            <p>
              On this talk we will not only talk about “The DevOps way of life” but how we can achieve a perfect synchronization 
              between all of the areas inside a company so that automation becomes a creed and not so much of an imposed rule by 
              the bosses while we keep in mind the UX and UI of it for the people involved, with some practical examples along the way. 
            </p>

            <p>
              It’s DevOps or Nothing.
            </p>

            <h4>About Domingos Da Silva:</h4>
            <p>
              Lead Infrastructure Engineer at Farfetch.
            </p>

            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup24-uxidevops-the-trojan-horse-for-implementing-a-devops-culture-by-domingos-da-silva" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
          </div>
        </div>
      </article>
    </div>


  </div>
</div>
