{% include components/meetuponlinetitle.html number=42 title="Bootstrapping SRE" date="04/02/2021" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>04/02/2021</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Bootstrapping SRE: SLIs and SLOs where to begin by Debbie Wood</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <!-- <h3>Video</h3>
      <figure class="image ">
        <a href="https://youtu.be/dTRq6l-xdpg" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure> -->
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m042_deborahwood.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Bootstrapping SRE: SLIs and SLOs where to begin</h3>
            {% include components/speakerhandle.html name="Deborah Wood" linkedin="debbiejw" twitter="Debs_za" %}

            <p>
              The Google SRE practice and books can be intimidating, and it's hard to know where to start. I'll share how our team started - and how we coached others in how to understand Service Level Indicators, and Service Level Objectives, and how to iteratively build and tune them as you go.
            </p>

            <h4>About Deborah Wood:</h4>
            <p>
              Deborah is a product manager for Tanzu Labs Platform in Europe, and previously was a platform product manager for Pivotal. Together with her team she supported the production platform for the Pivotal Tracker application. She currently coaches Platform teams in external organisations in using lean product management, and user centered design to drive value & investment when running internal platform infrastructure. She advocates for the use of Site Reliability Engineering, and supports product teams in providing product feedback & driving improvements to the UX of operations.
            </p>
            <!-- <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup-38-using-cutting-edge-open-source-technologies-to-build-one-of-the-biggest-industrial-data-lake-of-the-world-by-allan-sene" target="_blank">Slide deck @ SpeakerDeck</a>
            </p> -->
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
