{% include components/meetuptitle.html number=16 title="Testing travel guide to Continuous Delivery" date="16/05/2018" host="I2S"
%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>16/05/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk:
          <strong>Testing travel guide to Continuous Delivery</strong>
        </li>
        <li>Networking break</li>
        <li>Open space forum</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="http://www.i2s.pt/pt-pt/" target="_blank">
          <img alt="I2S" class="width-is-128" src="assets/images/hosts/I2S.png" />
        </a>
      </figure>
      <br/>
      <br/>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m016_andrecarmo.png" %}

        <div class="media-content">
          <div class="content">
            <h3>Testing travel guide to continuous delivery</h3>
            {% include components/speakerhandle.html name="André Carmo" twitter="atmcarmo" linkedin="andrecarmo" %}
            <p>
              Continuous Delivery is a major trend in tech industry, but we cannot compromise quality for speed. Companies need to adapt
              their delivery process for such a frequent release schedule. André will show his point of view about this and
              this meetup will be hosted by I2S.
            </p>

            <h4>About André Carmo:</h4>
            <p>
              André is a Senior Infrastructure Engineer at Farfetch, after being a Test Automation Lead.
            </p>
            <p>
              He has been helping the Farfetch tech team to have better continuous delivery by spreading the word about test automation,
              by developing testing tools and frameworks, and by implementing complex but simple to use pipelines for continuous
              delivery.
            </p>
            <p>
              With 5+ years of experience in software testing, he was also a software developer in the past. He is very happy to learn
              new things from new people.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>