{% include components/meetuponlinetitle.html number=45 title="Building with Nuke [EN]" date="20/05/2021" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>20/05/2021</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Unleash your build with Nuke by Todor Todorov</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://www.youtube.com/watch?v=kwoqsLqd3yA" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Unleash your build with Nuke </h3>

            <p>
              Nuke is a powerful open-source cross-platform build automation system, written in C#. 
              It has rich libraries for automating CLI execution for all of the most common tools like Docker, NuGet, dotnet, MSBuild, Maven, and many more. 
              Nuke provides a way to do your build definition as REAL code. A code that is debuggable, testable, shareable. 
            </p>
            <p>
              How many times have you gotten a buggy YAML because of a missing indentation? 
              How many times you got through tons of logs, trying to figure out why that specific variable in your build definition, was not populated correctly? 
              You can have a seamless IDE integration and easily navigate through your definition since it is not a script or YAML. 
              You can have auto-completion, ReSharper refactoring, access to countless useful libraries.
            </p>

            <p>
              Our invited speaker, Todor, will share with us how easy and powerful this approach can be. 
              How you can easily generate multiple configurations for different CI/CD providers. The possibilities are vast.
            </p>

          </div>
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m045_todortodorov.jpg" %}

        <div class="media-content">
          <div class="content">
            <h4>About Todor Todorov:</h4>
            {% include components/speakerhandle.html twitter="totollygeek" linkedin="totollygeek" %}

            <p>
              Todor is a DevOps Evangelist, software engineer, and public speaker who has more than 10 years of experience in front-end and back-end development. 
              Lately, Todor is concentrated in the field of highly scalable cloud APIs, Docker, CI/CD pipelines, and serverless technologies. 
              He is passionate about clean code and open-source. DevOps and microservices are his current focuses and the cloud mindset is what he is trying to advocate everyone around. 
              In his free time, which is limited, due to having three kids, he enjoys playing DOTA, riding a chopper, and singing in a rock band.
            </p>

          </div>
        </div>
      </article>
    </div>
  </div>
</div>
