{% include components/meetuponlinetitle.html number=50 title="Are Platform teams the next DevOps?" date="31/03/2022" host="Online" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>31/03/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Platform as a product</strong></li>
        <li>Q&A</li>
        <li>Talk: <strong>Accelerating large engineering organisations with Internal Platforms</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://youtu.be/YGqgSB85Zpo" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Platform as a product</h3>

            <p>Savvy organizations are discovering the value of treating their internal platforms as products. But what does it mean to treat a "platform as a product"? What benefits does this give, and why would an organization adopt this approach?</p>

            <p>In this talk, Manuel Pais, co-author of the book Team Topologies, explains why the platform-as-product approach can be a game-changer for organizations building and running software-enabled products and services. Using ideas & patterns from Team Topologies - including Thinnest Viable Platform, team cognitive load, and the evolutionary team interaction modes - Manuel explains how organizations like Uswitch and Adidas have successfully used the platform-as-product model to accelerate and simplify the delivery of software at scale.</p>
          </div>
        </div>
      </article>
      <article class="media">
	{% include components/speakerimage.html imagename="m050_manuelpais.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>About Manuel Pais:</h4>
            <p>Manuel Pais is co-author of <a href="https://teamtopologies.com/book">Team Topologies</a>: organizing business and technology teams for fast flow. Recognized by TechBeacon as a <a href="https://techbeacon.com/devops/devops-100-top-leaders-practitioners-experts-follow-0">DevOps thought leader</a>, Manuel is an independent IT organizational consultant and trainer, focused on team interactions, delivery practices and accelerating flow. Manuel is also a LinkedIn instructor on <a href="https://www.linkedin.com/learning/devops-foundations-accelerating-continuous-delivery-in-the-enterprise">Continuous Delivery</a>.</p>
	  </div>
	</div>
      </article>
    </div>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <h3>Accelerating large engineering organisations with Internal Platforms</h3>

        <p>João Alves is an Engineering Manager at Adevinta in Barcelona. Adevinta's portfolio spans more than 40 digital brands, covering one billion people and attracting approximately three billion average monthly visits.</p>

        <p>João has helped to implement the Platform team model at <a href="https://www.adevinta.com/our-brands">Adevinta</a> and will be sharing the lessons learned from creating a successful Platform team with us.</p>

      </div>
    </div>
  </article>
  <article class="media">
    {% include components/speakerimage.html imagename="m050_joaoalves.jpg" %}
    <div class="media-content">
      <div class="content">
        <h4>About João Alves:</h4>
        <p>João Alves is an Engineering Manager, Speaker, and Writer. His main interests are to build and grow SaaS Products and Infrastructure teams.</p>
      </div>
    </div>
  </article>
</div>

  </div>
</div>
