{% include components/meetuptitle.html number=52 title="Technical Writing" date="27/05/2022" host="Selina Cowork" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>31/03/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Panel: <strong>Technical Writing (In Portuguese)</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.selina.com/pt/cowork/" target="_blank"><img alt="Selina Cowork" class="width-is-128" src="assets/images/hosts/selina_logo_black.svg" /></a>
      </figure>
      <!-- <h3>Video</h3>
      <figure class="image ">
        <a href="https://youtu.be/" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure> -->
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Technical Writing</h3>

            <p>Today, more than ever, it's not enough to just write code. We need to communicate it efficiently for the benefit of our future selves, our colleagues, and sometimes people on the other side of the world. This journey typically starts with documentation and sometimes evolves to blog posts and even technical books.
              In this meetup, we will be talking with a panel of people with experience in the various areas to talk about what's easy and hard, the pros and cons, and tips for how to do a good job writing more than code.
              
              </p>
          </div>
        </div>
      </article>
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m052_.jpg" %} -->
        <div class="media-content">
          <div class="content">
            <h4>About Joel Bastos:</h4>
            <p>Engineer, published author, open-source supporter and contributor, invested in helping companies scale systems, processes and talent, focusing on automation, security and reliability.</p>
            <p>Previously has successfully supported governmental entities with projects such as the Public Key Infrastructure for the Portuguese citizen card, several unicorn startups, and one of the largest transaction-oriented betting companies in the world. Nowadays, he aims to improve the lives of merchants as a tech leader at SaltPay.</p>
            <p>He tries to keep himself active, sharing his free time between running, surfing, and surfskating</p>
          </div>
        </div>
      </article>
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m052_.jpg" %} -->
        <div class="media-content">
          <div class="content">
            <h4>About Pedro Araújo:</h4>
            <p>Pedro Araújo is a reliability and automation engineer, with a passion for all things Observability, and is a co-author of the book <a hre="https://www.prombook.info/" target="_blank">Hands-on Infrastructure Monitoring with Prometheus</a>. His belief that "a rising tide lifts all boats" has resulted in contributions to several open-source projects, such as Riemann, OpenTSDB, Sensu, Prometheus, Thanos, Grafana, among others. Pedro currently works at SaltPay building the group's Cloud Platform.</p>
          </div>
        </div>
      </article>
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m052_.jpg" %} -->
        <div class="media-content">
          <div class="content">
            <h4>About Ricardo Castro:</h4>
            <p>Lead Site Reliability Engineer at <a href="https://www.anova.com/" target="_blank">Anova</a>. Working daily to build high-performance, reliable and scalable systems.
              A strong believer in culture and teamwork. Open source passionate, taekwondo amateur, and metal lover.
              DevOps Porto meetup co-organizer and <a href="https://devopsdays.org/events/2021-portugal/welcome/" target="_blank">DevOpsDays Portugal</a> co-organizer.
              <a href="https://cd.foundation/" target="_blank">Continuous Delivery Foundation</a> Ambassador.</p>
          </div>
        </div>
      </article>
      <article class="media">
        <!-- {% include components/speakerimage.html imagename="m052_.jpg" %} -->
        <div class="media-content">
          <div class="content">
            <h4>About Waldir Pimenta:</h4>
            <p>Waldir Pimenta is a computer graphics software developer turned technical writer, with a particular interest in documentation tooling and automation, literate programming, and visual communication of complex concepts.</p>
            <p>He started doing technical writing as a Wikipedia editor and later as an academic researcher, and the transfer of those skills into his software development career was a natural progression — as was the gradual involvement with open-source projects.</p>
            <p>Nowadays, his time is split between his day job as a technical writer at Feedzai, his role as a husband and father of two young kids, and various open-source and open knowledge projects, as time permits.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
