<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Meetup #1 - Hello DevOps World</h1>
      <h2 class="subtitle">25/10/2016; Hosted by UPTec</h2>
    </div>
  </div>
</section>


<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li><strong>The (un)surprising truth about DevOps culture (Manuel Pais)</strong></li>
        <li>Networking break</li>
        <li><strong>Open Space Discussions</strong></li>
        <li>Wrap-up</li>
      </ul>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="assets/images/speakers/m001_manuel.jpg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <h3>The (un)surprising truth about DevOps culture</h3>
            <p>
              <strong>Manuel Pais</strong> <small><a href="https://twitter.com/manupaisable">@manupaisable</a><a href="https://es.linkedin.com/in/manuelpais">LinkedIn</a></small>
            </p>
            <p>This will be our #1st meetup about DevOps and its culture, practices and techniques, and will be co-organized
              with our partners Agile Connect community (their #7th meetup). Join us in building "bridges" between development
              and operations.
            </p>
            <p>
              For this session we have invited Manuel Pais, who will share with us his insights on what DevOps culture is all about, and
              what you can do to improve collaboration in your team.</p>
            <p> This talk will tell you about all the right practices you need to adopt to become a successful DevOps organization!</p>
            <p>
              DevOps is highly contextual, there is no set of prescribed practices that an organization can pick up and “become DevOps”.
            </p>
            <p>
              So what “can” you do? Attend this talk to find out!
            </p>

            <h4>About Miguel:</h4>
            <p>
              <a href="https://es.linkedin.com/in/manuelpais">Manuel Pais</a> is a DevOps advocate with a mixed background
              as developer, build manager and QA lead. Jack of all trades, master of continuous improvement, Manuel enjoys
              helping organizations to adopt test automation, continuous delivery and cloud from both technical and human
              perspectives. He has worked on a range of technologies (Java, .Net, Web, Mobile) and industries (banking, telecommunications,
              defense and aviation).
            </p>

            <h4>Media</h4>
            <p>Slide deck</p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>