{% include components/meetuptitle.html number=14 title="Databases on containers: from myth to uber-performance" date="22/03/2017" host="Jumia Porto Tech Center" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>22/03/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk: <strong>Databases on containers: from myth to uber-performance</strong></li>
        <li>Open space forum</li>
        <li>Networking break</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://group.jumia.com/" target="_blank"><img alt="Jumia Porto Tech Center" class="width-is-128" src="assets/images/hosts/jumia-porto-tech-center.jpg" /></a>
      </figure> 
      
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="" %}
        
        <div class="media-content">
          <div class="content">
            <h3>Introduction on Google Kubernetes Engine (GKE) for CI/CD</h3>
            {% include components/speakerhandle.html name="Tiago Caxias" twitter="tcx__" linkedin="tiagocaxias" %}
            <p>
              This meetup will be around Databases on containers and will be hosted by Jumia Porto Tech Center.
            </p>
            <p>
              At Jumia all databases are running on containers. From MariaDB topologies to Couchbase cross-datacenter clusters. From Riak S2 to elasticsearch (also mongodb, just don't tell anyone). It's common knowledge that containers are not good for containers due to network impacts but mainly I/O persistence and performance. They broke all the rules and automated everything. They use Consul to do the service discovery and Fabio for TCP load balancing. At MariaDB level they also use Orchestrator to manage the replication topologies and have automated master discovery embedded into the container being reported to Consul and pointed out to external services via Fabio.
            </p>
            <p>Our invited speaker, Tiago Caxias (http://twitter.com/tcx__) will show how to get the best of both together.
            </p>
            <h4>About Tiago:</h4>
            <p>
                
            </p>
            <!--
            <h4>Media</h4>
            <p>
              <a href="" target="_blank">Slide deck @ SpeakerDeck</a> 
            </p>
            -->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>