{% include components/meetuptitle.html number=6 title="A year building bridges" date="11/07/2017" host="Farfetch" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>14/10/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk #1: <strong>There is no such thing as human error (João Miranda)</strong></li>
        <li>Talk#2: <strong>GitLab CI/CD - An overview. (Filipa Lacerda)</strong></li>
        <li>Networking break</li>
        <li>Open space forum</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.farfetch.com/" target="_blank"><img alt="Farfetch" class="width-is-128" src="assets/images/hosts/farfetchlogologotype.png" /></a>
      </figure> 
      
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m009_joaomiranda.jpg" %}
        
        <div class="media-content">
          <div class="content">
            <h3>There is no such thing as human error</h3>
            {% include components/speakerhandle.html name="João Miranda" twitter="jhosm" linkedin="jhosm" %}
            <p>
              As we all know, "human error" is the default response for almost every accident. But the 
              "human error" explanation is just too shallow and simplistic. It only satisfies one of the 
              four needs of a good accident analysis: the moral one. Join us to learn why we should get 
              rid of the "human error" fallacy, what are those four needs and how we can make the most 
              of an accident... as they will happen one day, just like death and taxes.
            </p>
            <h4>About João:</h4>
            <p>
              João started his career in 2000, at the height of the dot-com bubble. That enlightening experience led him to the 
              conclusion that agile practices (and now DevOps) are the best way to respond to the business needs of almost all 
              organizations. He currently is IT manager at a large portuguese bank, where he helps to remove all friction that 
              may hinder development teams fast pace.              
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m009_filipalacerda.jpg" %}
        <div class="media-content">
          <div class="content">
            <h3>Culture: a gentle introduction</h3>
            {% include components/speakerhandle.html name="Filipa Lacerda" twitter="FilipaLacerda" linkedin="FilipaLacerda" %}
            <p>Filipa will share how you can improve your workflow using GitLab CI/CD solution, from your 
              first commit to deploy to production, the same CI/CD solutions that GitLab uses to produce 
              its own software.
            </p>

            <h4>About Filipa:</h4>
            <p>
                Filipa (https://www.linkedin.com/in/filipalacerda/) is a Frontend Engineer at GitLab focused on making 
                CI/CD experience awesome. She is passionate about web development, well written code and helping people.                
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>