{% include components/meetuptitle.html number=13 title="Google Cloud Platform and Kubernetes" date="28/02/2017" host="Hostelworld" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>28/02/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk: <strong>Introduction on Google Kubernetes (GKE) for CI/CD</strong></li>
        <li>Open space forum</li>
        <li>Networking break</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.hostelworld.com/" target="_blank"><img alt="HostelWorld" class="width-is-128" src="assets/images/hosts/hostelworld-logo.png" /></a>
      </figure> 
      
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m013_giuliano.png" %}
        
        <div class="media-content">
          <div class="content">
            <h3>Introduction on Google Kubernetes Engine (GKE) for CI/CD</h3>
            {% include components/speakerhandle.html name="Giuliano Ribeiro" twitter="GiulianoBR " linkedin="giulianoribeiro" %}
            <p>
              Kubernetes Engine is a great platform for your containers running on Google Cloud Platform, but is possible to do more with it. 
              Continuous Integration and Continuous Delivery are unquestionable practices on daily basis for modern products and companies to be up to speed with the market.
            </p>
            <p>
                Our invited speaker will show how to get the best of both together.                
            </p>
            <h4>About Giuliano:</h4>
            <p>
                Giuliano Ribeiro is Cloud Solutions Architect at <a href="http://ilegra.com/">ilegra</a>, working with Google technologies last 5 years. 
                Also worked as software engineer, software architect and DevOps Engineer. After years coding, moved to Google ecosystem deploying 
                Google's products and creating high valuable integrations on customers to get more on the cloud.
              </p>
            <!--<h4>Media</h4>
            <p>
              <a href="a nice url" target="_blank">Slide deck @ SpeakerDeck</a> 
            </p>-->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>