{% include components/meetuptitle.html number=56 title="How to easily manage TLS certificates with Vault" date="20/10/2022" host="Farfetch" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>20/10/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>How to easily manage TLS certificates with Vault</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.farfetch.com/" target="_blank"><img alt="Farfetch" class="width-is-128" src="assets/images/hosts/farfetchlogologotype.png" /></a>
      </figure>
      <!-- <h3>Video</h3>
      <figure class="image ">
        <a href="https://youtu.be/" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure> -->
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>How to easily manage TLS certificates with Vault</h3>

            <p>Having valid TLS certificates protects our companies, by ensuring privacy and data security for communications over the
            Internet, so we can deliver trust to our users and customers. But it is a burden if we don't have a proper process for
            rotating certificates. As well as it can pose some risks and flaws.
            So, what if we automate it?
            In this presentation, we will share a proposal on how to easily manage the rotation of TLS certificates across all the
            Infrastructure using Vault.</p>
          </div>
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m056_eduardomota.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>Eduardo Mota:</h4>
            <p>Started as a software developer, working in areas that range from the Internet of Things to blockchain and e-commerce.
            Made his way to DevOps back in 2016, and is now a Lead Engineer at Farfetch. A strong advocate of automation, and in
            “doing more with less”. Eduardo is also passionate about the cloud in every sense of the word, as he accumulates his
            work as a DevOps Engineer with being a commercial pilot and flight instructor.</p>
          </div>
        </div>
      </article>

      <article class="media">
        {% include components/speakerimage.html imagename="m056_rafaelpinto.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>Rafael Pinto:</h4>
            <p>Rafael has a masters degree in Informatics Engineering by the University of Minho. He started his career in 2017, and
            from the very beginning was passioned about automation, infrastructure, and DevOps. Currently playing the role of Lead
            Infrastructure Engineer at Farfetch. Sports and electronic music lover.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
