{% include components/meetuponlinetitle.html number=51 title="DORA metrics" date="20/04/2022" host="Online" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>31/03/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>DORA metrics</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://youtu.be/uQtktPNLu3Y" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>DORA metrics</h3>

            <p>DORA Metrics deu visibilidade ao ciclo de desenvolvimento de software e Operação de TI de forma a vê-los de forma única, como parte fundamental do fluxo de valor de organizações exponenciais. As métricas em si podem não significar muito se não houver uma estratégia direcionada de usá-las para validar experimentos, adoção de tecnologias e/ou dar visibilidades aos gargalos.
              Esta apresentação é um pequeno ensaio de como foi implementar DORA Metrics nas organizações e algumas lições aprendidas.</p>
          </div>
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m051_fernandoike.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>About Fernando Ike:</h4>
            <p>Fernando Ike é Gerente Senior de Tecnologia no PicPay (Head of Production Engineering), trabalhou como liderança técnica ou de pessoas em diferente indústrias como: Governo, Startups e empresas tradicionais. Trabalhou em startups como QuintoAndar (Real Estate), Zup (IT Consultant), Nuveo (Computer Vision), Escola Mais (EdTech), Akamai (CDN) e StackPath (CDN). Colaborou com projetos Open Source como Pydantic, PostgreSQL, Debian e Hoursec.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
