{% include components/meetuptitle.html number=31 title="Metrics and context" date="12/09/2019" host="Cocus"%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>12/09/2019</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk:
          <strong>Metrics, context driven management </strong>
        </li>
        <li>Coffee/Networking break</li>
        <li>Open space</li>
        <li>Wrap up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.cocus.de/en/home/" target="_blank"><img alt="Cocus" class="width-is-128" src="assets/images/hosts/cocus.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m031_alexandremartins.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Metrics, context driven management </h3>
            {% include components/speakerhandle.html name="Alexandre Martins" twitter="joaocruzsilva" linkedin="joão-silva-b7839176" %}
            <p>
              An example of metrics definition and utilization, based on a context, to bring predictability and visibility of the team activities 
              and find opportunities for process improvements.
            </p>

            <h4>About Alexandre Martins:</h4>
            <p>
              Alexandre is an experienced IT professional with a focus on Agile methodology to develop digital products, 
              services and improve team performance based on business and strategic vision.
            </p>

            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup-31-metrics-context-driven-management-by-alexandre-martins" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
           
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
