{% include components/meetuptitle.html number=15 title="Acceptance Testing for Continuous Delivery" date="18/04/2018" host="FARO Technologies" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>18/04/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk: <strong>Acceptance Testing for Continuous Delivery</strong></li>
        <li>Open space forum</li>
        <li>Networking break</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.faro.com/" target="_blank"><img alt="FARO Technologies" class="width-is-128" src="assets/images/hosts/faro-logo-blue.webp" /></a>
      </figure> 
      <br/>
      <br/>
      <h4>LiveStream</h4>
      <a href="https://www.youtube.com/watch?v=ne_w_mrVW6E" target="_blank">
        <span class="icon">
          <i class="fa fa-youtube"></i> 
        </span>
        Youtube stream
      </a>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m015_davefarley.jpg" %}
        
        <div class="media-content">
          <div class="content">
            <h3>Acceptance Testing for Continuous Delivery</h3>
            {% include components/speakerhandle.html name="David Farley" twitter="davefarley77" linkedin="dave-farley-a67927" %}
            <p>
              This time around we will hosting Dave Farley (@davefarley77), the well known thought leader and co-author of the seminal book <a href="https://martinfowler.com/books/continuousDelivery.html" target="_blank">"Continuous Delivery"</a> and the <a href="https://www.reactivemanifesto.org/" target="_blank">Reactive Manifesto"</a>. 
            </p>
            <p>
              Writing and maintaining a suite of acceptance tests that can give you a high level of confidence in the behaviour and configuration of your system is a complex task. In this talk Dave will describe approaches to acceptance testing that allow teams to: work quickly and effectively; build excellent functional coverage for complex enterprise-scale systems; manage and maintain those tests in the face of change, and of evolution in both the codebase and the understanding of the business problem.
            </p>
            <p>
              This talk will answer the following questions, and more: How do you fail fast? How do you make your testing scalable? How do you isolate test cases from one-another? How do you maintain a working body of tests when you radically change the interface to your system?
            </p>
            
            <h4>About Dave:</h4>
            <p>
              Founder and director of Continuous Delivery Ltd, Dave is a thought-leader in the field of Continuous Delivery, DevOps and Software Development and works as an independent consultant and trainer. Dave is co-author of the Jolt-award winning book 'Continuous Delivery'​ and the 'Reactive Manifesto'. He is also a regular conference speaker and well known blogger.
            </p>
            <p>
              Dave has been having fun with computers for over 30 years. During that period he has worked on most types of software. Dave focus in recent years has been in the field of low latency computing, developing high performance software for the finance industry. 
            </p>
            <p>
              You can find out more about his thoughts at his blog at <a href="http://www.davefarley.net/" target="_blank">http://www.davefarley.net/</a>.
            </p>
            <!--
            <h4>Media</h4>
            <p>
              <a href="" target="_blank">Slide deck @ SpeakerDeck</a> 
            </p>
            -->
          </div>
        </div>
      </article>
    </div>
  </div>

</div>