{% include components/meetuptitle.html number=25 title="Immutable infrastructure" date="14/03/2019" host="Feedzai" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>14/03/2019</h3>
      <h3>Agenda:</h3>
      <ul>
          <li>Welcome</li>
          <li>Talk: <strong>From pets to cattle - an immutable approach to infrastructure by Tiago Rodrigues</strong></li>
          <li>Coffee/Networking break</li>
          <li>Open space</li>
          <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://feedzai.com" target="_blank"><img alt="Feedzai" class="width-is-128" src="assets/images/hosts/feedzai.jpg" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m25_tiagorodrigues.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>From pets to cattle - an immutable approach to infrastructure</h3>
            {% include components/speakerhandle.html name="Tiago Rodrigues" linkedin="tiago-rodrigues-10511ab"%}

            <p>
              Welcome to our 25th meetup about DevOps and its culture, values and practices. This meetup will take place at Feedzai.
            </p>
            
            <p>
              Traditional server management and deployment strategies rely on existing servers and infrastructure managed by some IT/Operations team which when you scale to a few hundred servers leads to inconsistent configurations and high management burden. At Feedzai, an immutable server approach is being used to achieve highly consistent environments while giving the development teams ownership of the deployment rules.
            </p>

            <p>
              Our invited speaker, Tiago Rodrigues, will dive into the details on how new product increments get shipped from development to production and also how that helped Feedzai deliver faster, reduce operational tasks and maintain international certifications. He'll also talk about the technologies that support all of this, such as Ansible, Packer and AWS services.
            </p>

            <h4>About Tiago Rodrigues:</h4>
            <p>
              Director of Cloud Operations at Feedzai
            </p>
<!--
            <h4>Media</h4>
            <p>
              <a href="#" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
-->
          </div>
        </div>
      </article>
    </div>


  </div>
</div>
