{% include components/meetuponlinetitle.html number=43 title="Kubernetes path to Production" date="15/04/2021" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>04/02/2021</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Reaching a Production-Ready Kubernetes @ La Redoute by Antoine Craske, Daniel Mello, and Ivan Santos</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://youtu.be/xDDa5apeQBY" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Reaching a Production-Ready Kubernetes @ La Redoute</h3>

            <p>
              Our invited speakers started a quest for acceleration and Kubernetes was one element retained to 
              modernize the application deployment. Antoine, Daniel, and Ivan will share why changing the provisioning 
              paradigm to a cloud-native, distributed, and largely as code model is complex. Reaching a production-ready s
              tate was an extensive journey full of learnings and now they want to share that learning s with the community.
            </p>

            <!-- <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup-38-using-cutting-edge-open-source-technologies-to-build-one-of-the-biggest-industrial-data-lake-of-the-world-by-allan-sene" target="_blank">Slide deck @ SpeakerDeck</a>
            </p> -->
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m043_antoinecraske.png" %}

        <div class="media-content">
          <div class="content">
            <h4>About Antoine Craske:</h4>
            {% include components/speakerhandle.html linkedin="antoine-craske-15621435" twitter="acraske_" %}

            <p>
              Passionate about architecture, strategy, and technology. Head of Architecture & Technology at La Redoute, 
              focusing on a better business & engineering alignment and value.
            </p>

          </div>
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m043_ivansantos.png" %}

        <div class="media-content">
          <div class="content">
            <h4>About Ivan Santos:</h4>
            {% include components/speakerhandle.html  %}

            <p>
              Passionate about working with innovative technologies, mainly with DevOps and SRE, for 21 years 
              taking knowledge and learning about critical environments and e-commerce.
            </p>

          </div>
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m043_danielmello.png" %}

        <div class="media-content">
          <div class="content">
            <h4>About Daniel Mello:</h4>

            <p>
              Born in Brazil and have strong Portuguese roots from Coimbra and Sta. Comba Dão. Passionate about 
              technology and sports, especially running.
            </p>

          </div>
        </div>
      </article>
    </div>
  </div>
</div>
