{% include components/meetuptitle.html number=22 title="Build Automation in a DevOps way!" date="27/11/2018" host="Talkdesk"%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>27/11/2018</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk:
          <strong>Build Automation in a DevOps way!</strong>
        </li>
        <li>Coffee/Networking break</li>
        <li>Open space</li>
        <li>Wrap up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.talkdesk.com/" target="_blank"><img alt="Talkdesk" class="width-is-128" src="assets/images/hosts/talkdesk.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m022_guilhermeferreira.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>Build Automation in a DevOps way!</h3>
            {% include components/speakerhandle.html name="Guilherme Ferreira" linkedin="gsferreira" github="gsferreira" twitter="gsferreira" %}
            <p>
              Do you still configure your builds manually through a User Interface?
            </p>
            <p>
              In the past years, Infrastructure as Code has become a new normal, especially with the advent of new technologies like Puppet, Chef or Docker.
            </p>
            <p>
              This practice made the Operations teams to adopt common development practices to manage their infrastructure. Strangely, the Continuous Integration processes continue to be manually configured. 
            </p>
            <p>
              In this session we will explore the Build as Code concept and we will use Cake (http://cakebuild.net), a build automation solution based on C#, to help us.
            </p>

            <h4>About Guilherme Ferreira:</h4>
            <p>
              Software Architect @ NumbersBelieve (he also acted as a Software Developer and Scrum Master)
              Focuses on Web Development using technologies as ASP.NET MVC, Microsoft Azure and Web API 
              Organiser of NetPonto Community
              A football fan
              Addicted to coffee and a foodie (a geek who cooks)
            </p>

            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup22-build-automation-in-a-devops-way-by-guilherme-ferreira" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
