{% include components/meetuptitle.html number=8 title="Quality Return (from holidays)" date="12/09/2017" host="Critical Software" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>12/09/2017</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Session Intro</li>
        <li>Talk: <strong> Is QA dying in the DevOps world? (Marta Torneiro)</strong></li>
        <li>Networking break</li>
        <li>Open space forum</li>
        <li>Wrap-up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.criticalsoftware.com/" target="_blank"><img alt="Critical Software" class="width-is-128" src="assets/images/hosts/CriticalSoftware.jpg" /></a>
      </figure> 
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m008_martatorneiro.jpg" %}
        
        <div class="media-content">
          <div class="content">
            <h3>Is QA dying in the DevOps world?</h3>
            {% include components/speakerhandle-linkedin.html name="Marta Torneiro" linkedin="martatorneiro" %}
            <p>
                As organizations are moving towards agile development and, ultimately, Continuous Delivery, does it 
                make sense to have the quality responsibility in the hands of a QA team? But does that mean that 
                organization won't need QA professionals once they work on a complete CD environment? These are 
                the kinds of doubts that organizations have these days. The QA work is changing and this means 
                being able and willing to improve the test approach instead of focusing on executing the tests. 
                This change will lead to a QA evolution.
            </p>
            <p>  
                Our invited speaker Marta Torneiro will answer some of these questions and explore the QA challenges
                that organizations have to face nowadays.
            </p>
            <h4>About Marta:</h4>
            <p>
                Marta has been working in Quality Assurance for almost 4 years, currently as QA Team Lead @ Hostelworld. 
                She always has been an enthusiast about process improvement and about learning new methodologies, 
                frameworks or techniques that can help development teams to always have "Quality" in mind 
                and as a core value. She truly believes that what makes possible to deliver a reliable and 
                relevant system or product is to focus on Quality, in a continuous way.
            </p>
            <h4>Media</h4>
            <p><a href="https://speakerdeck.com/devopsporto/devopsporto-meetup8-is-qa-dying-in-the-devops-world-by-marta-torneiro" target="_blank">Slide deck @ SpeakerDeck</a></p>
          </div>
        </div>
      </article>
    </div>
    
  </div>

</div>
