{% include components/meetuptitle.html number=34 title="Freelance and Remote - is it possible in DevOps?" date="10/12/2019" host="Selina"%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>10/12/2019</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Chat / Panel:
          <strong>Freelance and Remote - is it possible in DevOps?</strong>
        </li>
        <li>Coffee/Networking break</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.selina.com/portugal/porto/" target="_blank"><img alt="Selina" class="width-is-128" src="assets/images/hosts/selina.jpg" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Freelance and Remote - is it possible in DevOps?</h3>

            <p>
              Remote and freelance work is on the rise, and DevOps is no exception. Or is it? Today we gather 4 people with very different freelance / remote experiences to talk about the greener grass but also the ugly holes of this way of working.
            </p>

            <h4>About the panel</h4>
            {% include components/speakerhandle.html name="Claudio Freitas" linkedin="cláudio-freitas-39a36889" %}
            <p>
              Cláudio is a Systems Administrator/DevOps/SRE and all those fancy words that people use to describe guys that work on Systems.
              He started working in IT from a young age and has been in the game for around 12 years. From Helpdesk to Systems Engineer he has been working as a freelancer in the SRE/DevOps/Systems area.
            </p>

            {% include components/speakerhandle.html name="Jochem Doolaard" linkedin="jochemdoolaard" %}
            <p>
              Jochem Doolaard is a Leadership Trainer and Facilitator who helps professionals thrive in work and life. After 8 years advising finance & procurement teams in Unilever, extensive world travel and coaching young athletes, he is now running
              a social learning network for professionals; Dreambuildrs. A vision to go beyond modern education; believing in purpose, growth, community and realizing big dreams.
            </p>

            {% include components/speakerhandle.html name="Miguel Coquet" linkedin="miguelcoquet" twitter="mcoquet" %}
            <p>
              Trained Software Engineer, designing, developing and maintaining software at all levels of the stack remotely for a decade, running a fully remote company with a fully remote team for the last 2. Currently building awesome things with
              select clients @ Cavaco & Coquet.
            </p>

            {% include components/speakerhandle.html name="Miguel David" linkedin="migueldavid" twitter="desfocado" %}
            <p>
              Miguel started his career in big multinational institutions (Infineon, ESA, Rackspace) doing Operations and Linux Systems Administration only to fall in love with smaller companies and startups working in the chasm of Development and Operations. He currently is working @ Harvest migrating workloads to Google Kubernetes Engine.
            </p>

            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/freelance-and-remote-is-it-possible-in-devops" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>

          </div>
        </div>
      </article>
    </div>
  </div>

</div>
