{% include components/meetuptitle.html number=55 title="DevOps Research for Professionals: from Tools to Best Practices" date="09/09/2022" host="FEUP" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>09/09/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Filipe Correia's intro to the lightning set</li>
        <li>5x Lightning Presentations</li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://sigarra.up.pt/feup/pt/web_page.inicial" target="_blank"><img alt="FEUP" class="width-is-128" src="assets/images/hosts/feup.png" /></a>
      </figure>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://youtu.be/QCo7XQ4IWBY" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>DevOps Research for Professionals: from Tools to Best Practices</h3>

            <p>
              “Scientific research” is often perceived as far from the everyday practice of professionals developing, shipping, and
              running software systems. Yet, this is hardly true for much research. This meetup will look at some examples of DevOps
              research projects. We will start with well-known examples such as DORA and look into some of our research at FEUP with
              results that professionals can use to significant effect, including novel tools and proven best practices.
            </p>
          </div>
        </div>
      </article>

      <article class="media">
        {% include components/speakerimage.html imagename="m055_carlosalbuquerque.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>Carlos Albuquerque:</h4>
            <p>Carlos Albuquerque is a Master in Informatics Engineering by the Faculty of Engineering of the University of Porto. He
            is especially fond of Software Engineering topics, such as design patterns, software architecture and cloud computing.
            His master thesis, titled Monitoring design patterns for cloud applications, formalized eleven monitoring and
            observability best practices as design patterns for the industry.</p>
          </div>
        </div>
      </article>

      <article class="media">
        {% include components/speakerimage.html imagename="m055_davidreis.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>David Reis</h4>
          </div>
        </div>
      </article>

      <article class="media">
        {% include components/speakerimage.html imagename="m055_filipecorreia.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>Filipe Correia:</h4>
            <p>Filipe Correia is a professor of Software Engineering at the University of Porto / FEUP and a researcher at INESC TEC.
            In the past, he played other roles, from software architect to coach, to developer.
            His research interests tend to revolve around software design, architecture, and agility. Most recently they focus on
            microservice-based architectures and the highly maintainable and flexible systems they allow to create, and on applying
            liveness principles to activities of the software development lifecycle.</p>
          </div>
        </div>
      </article>

      <article class="media">
        {% include components/speakerimage.html imagename="m055_joaomaduro.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>João Maduro:</h4>
            <p>João Maduro is a Master in Informatics Engineering from the Faculty of Engineering of the University of Porto. He has a
            deep interest in Cyber-Security and low-level technologies like the ones we can find in Operating Systems, which
            motivated him recently to research more about Docker Containers.</p>
          </div>
        </div>
      </article>

      <article class="media">
        {% include components/speakerimage.html imagename="m055_paulomarques.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>Paulo Marques:</h4>
            <p>Paulo Marques is a Master in Informatics Engineering from the Faculty of Engineering of the University of Porto. His
            main interests are topics from Software Engineering, such as design patterns, software architecture and DevOps.</p>
          </div>
        </div>
      </article>


      <article class="media">
        {% include components/speakerimage.html imagename="m055_tiagomaia.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>Tiago Maia:</h4>
            <p>Tiago Maia is a Master in Software Engineering by the Faculty of Engineering of the University of Porto. He is currently
            working for Farfetch and his main interests orbitate around cloud architectures and service meshes.</p>
          </div>
        </div>
      </article>

    </div>
  </div>
</div>
