{% include components/meetuptitle.html number=33 title="La Redoute transformation powered by DevOps" date="19/11/2019" host="FEUP"%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>19/11/2019</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk:
          <strong>How DevOps supported La Redoute reinvention</strong>
        </li>
        <li>Coffee/Networking break</li>
        <li>Open space</li>
        <li>Wrap up</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://sigarra.up.pt/feup/en/web_page.inicial" target="_blank"><img alt="FEUP" class="width-is-128" src="assets/images/hosts/feup.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        {% include components/speakerimage.html imagename="m033_antoinecraske.jpg" %}

        <div class="media-content">
          <div class="content">
            <h3>How DevOps supported La Redoute reinvention</h3>
            {% include components/speakerhandle.html name="Antoine Craske" linkedin="antoine-craske-15621435" twitter="acraske_"%}
            <p>
              In 2014, La Redoute had 4 years to reinvent itself to regain its profitability. Structural 
              transformation was required to evolve all parts of the business and IT, where DevOps revealed 
              to be a major accelerator for the company since then. The company is now focused on scaling 
              teams supported by a distributed microservices architecture.
            </p>
            <p>
              Our invited speaker, Antoine Craske, will share La Redoute's experience, practices and learnings 
              during the transformation journey.
            </p>

            <h4>About Antoine Craske:</h4>
            <p>
              Antoine is passionate about strategy, innovation, technology, organization and systems. 
              Leading the Engineering Center in Portugal at La Redoute, with 100+ DevOps professionals. 
              Tech Meetup organizer in Leiria, within TICE.Leiria workgroup. Active in communities, 
              open-source, co-founder of Cerberus Testing.
            </p>

            <h4>Media</h4>
            <p>
              <a href="https://speakerdeck.com/devopsporto/devopsporto-meetup-33-how-devops-supported-la-redoute-reinvention-by-antoine-craske" target="_blank">Slide deck @ SpeakerDeck</a>
            </p>
           
          </div>
        </div>
      </article>
    </div>
  </div>

</div>
