{% include components/meetuponlinetitle.html number=48 title="GitOps and Progressive Delivery" date="25/01/2022" host="ONLINE" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>25/01/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>GitOps and Progressive Delivery</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Video</h3>
      <figure class="image ">
        <a href="https://www.youtube.com/watch?v=w9GesvLUybc" target="_blank"><img alt="DevOpsPorto YouTube" class="width-is-128" src="assets/images/hosts/youtube.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>GitOps and Progressive Delivery</h3>

            <p>Our customers expect a very high level of service from us, so they urged us to build our architecture as resiliently and reliably as we could. That brought us many challenges, from scalability to observability, from multi-cluster and multi-region deployments to managed services geo-replication. While many of these challenges have already been tackled, some are still a work in progress.</p>
            <p>In this talk, Marco Amador (Anova) will describe their journey to progressive delivery with some hands-on demos and explain why they've chosen progressive delivery over multi-cluster and multi-region Kubernetes. He'll also talk about how they decided to use a GitOps workflow with FluxCD and progressive delivery with Flagger, the Istio service mesh, and Prometheus/Thanos, and the challenges that they're still trying to solve.</p>
          </div>
        </div>
      </article>
      <article class="media">
	{% include components/speakerimage.html imagename="m048_mfamador.png" %}
        <div class="media-content">
          <div class="content">
            <h4>Marco Mamador:</h4>
            <p>Marco is an experienced Software Engineer, an enthusiast of Open Source and the DevOps culture and practices, and has been working with Cloud-Native projects for a wide range of industries, from Telco, Urban Mobility, and Media Intelligence to the Industrial Internet of Things.
              He's currently the Chapter Lead for Data Engineering and SRE at ANOVA, helping build a Cloud-Native IIoT Platform for a diverse set of markets: Industrial Gas, Rail, Energy, Oil & Gas, Water/Wastewater, and other industries.</p>
	  </div>
	</div>
      </article>
    </div>
  </div>
</div>
