{% include components/meetuptitle.html number=54 title="Safely Shipping Lots of Logs" date="25/07/2022" host="Critical Techworks" %}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>25/07/2022</h3>
      <h3>Agenda:</h3>
      <ul>
        <li>Welcome</li>
        <li>Talk: <strong>Safely Shipping Lots of Logs</strong></li>
        <li>Q&A</li>
        <li>Closing</li>
      </ul>
      <h3>Host</h3>
      <figure class="image ">
        <a href="https://www.criticaltechworks.com/" target="_blank"><img alt="Critical Techworks" class="width-is-128" src="assets/images/hosts/criticaltechworks.png" /></a>
      </figure>
    </div>
  </div>
  <div class="column is-auto">

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>Safely Shipping Lots of Logs</h3>

            <p>
              Our Kubernetes PaaS had a high volume of logs and we did not have a lot of interest in paying Cloudwatch fees for them.
              So we teamed up with some ElasticSearch gurus to send our logs their way. You won't believe what happened next! (not
              clickbait)
            </p>
          </div>
        </div>
      </article>
      <article class="media">
        {% include components/speakerimage.html imagename="m054_davidbarreiro.jpg" %}
        <div class="media-content">
          <div class="content">
            <h4>David Barreiro:</h4>
            <p>
              David Barreiro started his career in SAP and eventually made a career change to Cloud development where he found his
              vocation in DevOps. He is currently an IT Paladin (DevOps) @ Critical Techworks. He will share with us how to safely
              ship lots of logs.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
