{% include components/meetuptitle.html number=57 title="Fluid Pull Requests" date="23/11/2022" host="ReviewPad" %}

<div class="columns content">
    <div class="column is-one-third">
        <div class="box">
            <h3>23/11/2022</h3>
            <h3>Agenda:</h3>
            <ul>
                <li>Welcome</li>
                <li>Talk: <strong>Fluid Pull Requests
                </strong></li>
                <li>Q&A</li>
                <li>Closing</li>
            </ul>
            <h3>Host</h3>
            <figure class="image ">
                <a href="https://reviewpad.com/" target="_blank"><img alt="Reviewpad" class="width-is-128" src="assets/images/hosts/reviewpadlogo.png" /></a>
            </figure>
        </div>
    </div>
    <div class="column is-auto">

        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h3>Fluid Pull Requests</h3>

                        <p>Pull requests are the backbone of the DevOps infrastructure across many companies in the industry.
                            However, they are fast becoming the #1 bottleneck in engineering teams negatively impacting the throughput, stability, and culture of dev teams.
                            Fluid pull requests are an extension of pull requests with principles from trunk-based development.
                            In this talk, Marcelo will show the current problems with pull requests and how fluid pull requests solve them.</p>
                    </div>
                </div>
            </article>
            <article class="media">
                {% include components/speakerimage.html imagename="m057_marcelosousa.jpeg" %}
                <div class="media-content">
                    <div class="content">
                        <h4>Marcelo Sousa:</h4>
                        <p>Marcelo is an open-source and formal methods advocate. He holds a Ph.D. from the University of Oxford where he researched automated code analysis for concurrent programs.
                            He worked in compilers at IBM and code analysers for malware detection at Google. He was also the principal designer of the first security analyser in SonarQube and SonarCloud.</p>
                        <p>He is now building Reviewpad, a product that allows developers to safely push code changes faster.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
