{% assign talks = (include.event.agenda | where:"type","talk")  %}
{% assign title = include.event.title %}
{% if title == nil or title == "" %}
  {% assign title = talks | map: "title" | join: " // " %}
{% endif %}

{% include components/meetuptitle.html
  number=include.event.number
  title=title
%}

<div class="columns content">
  <div class="column is-one-third">
    <div class="box">
      <h3>{{ include.event.date }}</h3>
      {% include components/eventAgenda.html agenda=include.event.agenda  %}
      {% include components/eventHost.html host=include.event.host  %}
    </div>
  </div>
  <div class="column is-auto">
    <div class="box">
      {% assign talks = (include.event.agenda | where:"type","talk")  %}
      {% for talk in talks  %}
        {% include components/eventTalk.html talk=talk  %}
      {% endfor %}
    </div>
  </div>
</div>
