<h3>Agenda:</h3>
<ul>
    {% for agendaEntry in include.agenda %}
    <li>
        {% if agendaEntry.type == 'intro' %}
        Session intro
        {% elsif agendaEntry.type == 'talk' %}
        Talk: <strong>{{agendaEntry.title}}</strong> 
        {% elsif agendaEntry.type == 'break' %}
        Networking Break
        {% elsif agendaEntry.type == 'openspace' %}
        Open-Space discussions
        {% elsif agendaEntry.type == 'qa' %}
        Q&A
        {% elsif agendaEntry.type == 'networking' %}
        Networking
        {% elsif agendaEntry.type == 'wrapup' %}
        Session wrap up
        {% endif %}
        </li>
    {% endfor %}
     
      
      </ul>
