<html>

<head>
    <title>DevOps Porto Community</title>
    <!--<link rel="stylesheet" href="/assets/css/bulma.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bulma.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="DevOps Porto">
    <meta name="application-name" content="DevOps Porto">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {% include header.html %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <h1 class="title">
                            DevOps Porto
                        </h1>
                        <h2 class="subtitle">
                            Building Bridges Between Development, Operations, Communities, Companies, People
                        </h2>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="sponsor">
                            Sponsored by:
                            <a href="https://www.red-gate.com/" target="_blank"><img src="/assets/images/sponsors/Redgate_Logo.png"/></a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>

    <div class="container">
        <section class="main-content">
            {{ content }}
        </section>
    </div>
    
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
</body>

</html>
