<html>

<head>
    <title>DevOps Porto Community</title>
    <!--<link rel="stylesheet" href="/assets/css/bulma.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bulma.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    {% include header.html %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    DevOps Porto
                </h1>
                <h2 class="subtitle">
                    Building Bridges
                </h2>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="main-content">
            {{ content }}
        </section>
    </div>
    
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
</body>

</html>