<html>

<head>
    <title>DevOps Porto Community</title>
    <link rel="stylesheet" href="/assets/css/style.css?v=d12cd39be3b3445b5c8f8e424ca021611e248560">
</head>

<body>
    <div class="container">
        <section class="page-header">
            <h1 class="project-name">devopsporto.github.io</h1>
            <h2 class="project-tagline">Building Bridges</h2>
        </section>
    </div>
    <section class="menu">
        <nav>
            <ul>
                <li><a href="pastmeetups.html">Past Meetups</a></li>
                <li><a href="speakerfollowup.html">Call for Speakers</a></li>
                <li><a href="codeofconduct.html">Code of Conduct</a></li>
            </ul>
        </nav>
    </section>
    <div class="container">
            <section class="main-content">
            {{ content }}
        </section>
    </div>
</body>

</html>